Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

feat(content-explorer): Add ability to sort contents by size column
  flow-typed/box-ui-elements.js
  src/elements/common/sub-header/Sort.js
  src/elements/common/sub-header/__tests__/Sort-test.js
  src/elements/content-explorer/ItemList.js
Owners: @box/ui-elements-extended, @box/ui-elements

feat(tasks): Add comment dropdown with delete and edit
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/comment/Comment.js
  src/elements/content-sidebar/activity-feed/comment/Comment.scss
  src/elements/content-sidebar/activity-feed/comment/CommentMenu.js
  src/elements/content-sidebar/activity-feed/comment/EditMenuItem.js
  src/elements/content-sidebar/activity-feed/comment/InlineEdit.js
Owners: @box/ui-elements

feat(tasks): Add comment dropdown with delete and edit
  src/elements/content-sidebar/activity-feed/comment/__tests__/InlineEdit-test.js
  src/elements/content-sidebar/activity-feed/comment/__tests__/__snapshots__/InlineEdit-test.js.snap
Owners: @box/ui-elements

feat(icon-shield): Address feedback
  src/icons/general/IconShield.js
  src/icons/general/__tests__/__snapshots__/IconShield-test.js.snap
Owners: @box/ui-elements-extended

fix: pass title in to ContactDataListItem
  src/components/contact-datalist-item/ContactDatalistItem.js
  src/components/datalist-item/DatalistItem.js
  src/features/unified-share-modal/ContactsField.js
Owners: @box/ui-elements-extended, @box/webapp

fix: updated snapshots
  src/features/unified-share-modal/__tests__/__snapshots__/ContactsField-test.js.snap
Owners: @box/webapp

fix(icons): fix collections icons for left nav usability
  src/icons/collections/IconCollections.js
  src/icons/collections/IconCollectionsAdd.js
  src/icons/collections/IconCollectionsFilled.js
  src/icons/collections/__tests__/__snapshots__/IconCollections-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsAdd-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsFilled-test.js.snap
Owners: @box/ui-elements-extended

fix(icons): add BDL default color to icons
  src/icons/collections/IconCollections.js
  src/icons/collections/IconCollectionsAdd.js
  src/icons/collections/IconCollectionsFilled.js
  src/icons/collections/__tests__/__snapshots__/IconCollections-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsAdd-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsFilled-test.js.snap
Owners: @box/ui-elements-extended

fix: remove title prop and use maybe type for name
  src/components/contact-datalist-item/ContactDatalistItem.js
Owners: @box/ui-elements-extended

fix: remove title from Props and remove title from li element
  src/components/datalist-item/DatalistItem.js
Owners: @box/ui-elements-extended

fix: show tooltip on hover long text (#1230)
  src/components/contact-datalist-item/ContactDatalistItem.js
  src/features/unified-share-modal/ContactsField.js
  src/features/unified-share-modal/__tests__/__snapshots__/ContactsField-test.js.snap
Owners: @box/ui-elements-extended, @box/webapp

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

fix(icons): fix collections icons for left nav usability (#1238)
  src/icons/collections/IconCollections.js
  src/icons/collections/IconCollectionsAdd.js
  src/icons/collections/IconCollectionsFilled.js
  src/icons/collections/__tests__/__snapshots__/IconCollections-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsAdd-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsFilled-test.js.snap
Owners: @box/ui-elements-extended

feat(icons): add new shield Icon (#1216)
  src/icons/general/IconShield.js
  src/icons/general/__tests__/IconShield-test.js
  src/icons/general/__tests__/__snapshots__/IconShield-test.js.snap
Owners: @box/ui-elements-extended

fix(iconworkflow): make bg rect same as viewBox
  src/icons/two-toned/IconWorkflow.js
  src/icons/two-toned/__tests__/__snapshots__/IconWorkflow-test.js.snap
Owners: @box/ui-elements-extended

fix(iconworkflow): make bg rect same as viewBox (#1241)
  src/icons/two-toned/IconWorkflow.js
  src/icons/two-toned/__tests__/__snapshots__/IconWorkflow-test.js.snap
Owners: @box/ui-elements-extended

fix(icons): give collections Icons SUIT classNames
  src/icons/collections/IconCollections.js
  src/icons/collections/IconCollectionsAdd.js
  src/icons/collections/IconCollectionsFilled.js
  src/icons/collections/__tests__/__snapshots__/IconCollections-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsAdd-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsFilled-test.js.snap
Owners: @box/ui-elements-extended

fix(icons): add bdl prefix to icons
  src/icons/collections/IconCollections.js
  src/icons/collections/IconCollectionsAdd.js
  src/icons/collections/IconCollectionsFilled.js
  src/icons/collections/__tests__/__snapshots__/IconCollections-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsAdd-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsFilled-test.js.snap
Owners: @box/ui-elements-extended

fix(icons): give collections Icons SUIT classNames (#1242)
  src/icons/collections/IconCollections.js
  src/icons/collections/IconCollectionsAdd.js
  src/icons/collections/IconCollectionsFilled.js
  src/icons/collections/__tests__/__snapshots__/IconCollections-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsAdd-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsFilled-test.js.snap
Owners: @box/ui-elements-extended

refactor(tasks-new): extract task assignee avatars (#1227)
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
  src/elements/content-sidebar/activity-feed/task-new/AvatarGroup.js
  src/elements/content-sidebar/activity-feed/task-new/AvatarGroup.scss
  src/elements/content-sidebar/activity-feed/task-new/AvatarGroupAvatar.js
  src/elements/content-sidebar/activity-feed/task-new/Task.js
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/__tests__/AvatarGroup-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/Task-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Task-test.js.snap
  src/elements/content-sidebar/activity-feed/task-new/_mixins.scss
Owners: @box/ui-elements-extended, @box/ui-elements

fix: moved over changes from fix-mutate-state brach
  src/elements/content-explorer/ContentExplorer.js
  test/fixtures/content-explorer/root-folder.json
  test/integration/content-explorer/ContentExplorer.e2e.test.js
  test/support/commands.js
Owners: @box/ui-elements, @box/ui-elements-extended, @box/webapp

feat(navlist): address code review comments
  src/components/nav-sidebar/NavList.js
  src/components/nav-sidebar/NavSidebar.scss
  src/components/nav-sidebar/__tests__/NavList-test.js
Owners: @box/ui-elements-extended

feat(navlist): add animation prop and enable for LeftSidebar
  src/components/nav-sidebar/NavList.js
  src/components/nav-sidebar/NavSidebar.scss
  src/components/nav-sidebar/README.md
  src/components/nav-sidebar/__tests__/NavList-test.js
  src/features/left-sidebar/LeftSidebar.js
  src/features/left-sidebar/LeftSidebar.md
  src/features/left-sidebar/__tests__/__snapshots__/LeftSidebar-test.js.snap
Owners: @box/ui-elements-extended, @box/webapp

feat(navlist): change animation prop name
  src/components/nav-sidebar/NavList.js
  src/components/nav-sidebar/__tests__/NavList-test.js
  src/features/left-sidebar/LeftSidebar.js
  src/features/left-sidebar/__tests__/__snapshots__/LeftSidebar-test.js.snap
Owners: @box/ui-elements-extended, @box/webapp

feat(navlist): fix bug with bottom shadow
  src/components/nav-sidebar/NavList.js
  src/features/left-sidebar/LeftSidebar.js
  src/features/left-sidebar/__tests__/__snapshots__/LeftSidebar-test.js.snap
Owners: @box/ui-elements-extended, @box/webapp

fix: adjusted object destructuring
  src/elements/content-explorer/ContentExplorer.js
Owners: @box/ui-elements

fix: Issue fixed. Still directly modifying state
  src/elements/content-explorer/ContentExplorer.js
Owners: @box/ui-elements

fix: rows not stuck after closing modal
  src/elements/content-explorer/ContentExplorer.js
Owners: @box/ui-elements

fix: moved over changes from fix-mutate-state brach
  src/elements/content-explorer/ContentExplorer.js
  test/fixtures/content-explorer/root-folder.json
  test/integration/content-explorer/ContentExplorer.e2e.test.js
  test/support/commands.js
Owners: @box/ui-elements, @box/ui-elements-extended, @box/webapp

fix: adjusted object destructuring
  src/elements/content-explorer/ContentExplorer.js
Owners: @box/ui-elements

feat(tasks): Add comment dropdown with delete and edit
  src/constants.js
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/activity-feed/ActivityFeed.scss
  src/elements/content-sidebar/activity-feed/comment/Comment.js
  src/elements/content-sidebar/activity-feed/comment/Comment.scss
  src/elements/content-sidebar/activity-feed/comment/CommentMenu.js
  src/elements/content-sidebar/activity-feed/comment/EditMenuItem.js
  src/elements/content-sidebar/activity-feed/comment/__tests__/__snapshots__/EditMenuItem-test.js.snap
  src/elements/content-sidebar/activity-feed/task-new/Task.js
Owners: @box/ui-elements-extended, @box/ui-elements

test(tasks): update tests, snapshots, and test comment menu
  i18n/en-US.properties
  src/elements/content-sidebar/activity-feed/comment/Comment.js
  src/elements/content-sidebar/activity-feed/comment/CommentMenu.js
  src/elements/content-sidebar/activity-feed/comment/__tests__/Comment-test.js
  src/elements/content-sidebar/activity-feed/comment/__tests__/CommentMenu-test.js
  src/elements/content-sidebar/activity-feed/comment/__tests__/__snapshots__/EditMenuItem-test.js.snap
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Task-test.js.snap
  src/elements/content-sidebar/activity-feed/task/__tests__/__snapshots__/Task-test.js.snap
Owners: @box/webapp, @box/ui-elements, @box/ui-elements-extended

feat(comment): update comment to use menu for edit/delete options
  src/elements/content-sidebar/activity-feed/app-activity/AppActivity.scss
  src/elements/content-sidebar/activity-feed/comment/Comment.js
  src/elements/content-sidebar/activity-feed/comment/Comment.scss
  src/elements/content-sidebar/activity-feed/comment/__tests__/Comment-test.js
  src/elements/content-sidebar/activity-feed/comment/__tests__/__snapshots__/Comment-test.js.snap
Owners: @box/ui-elements

fix(comment): add tethering for comment delete confirm
  src/elements/content-sidebar/activity-feed/comment/Comment.js
  src/elements/content-sidebar/activity-feed/comment/Comment.scss
Owners: @box/ui-elements

chore(i18n): update translations
  i18n/ja-JP.properties
Owners: @box/webapp

fix: moved over changes from fix-stuck-rows branch
  src/elements/content-explorer/ContentExplorer.js
  test/fixtures/content-explorer/root-folder.json
  test/integration/content-explorer/ContentExplorer.e2e.test.js
  test/support/commands.js
Owners: @box/ui-elements, @box/ui-elements-extended, @box/webapp

chore(i18n): update translations (#1244)
  i18n/ja-JP.properties
Owners: @box/webapp

fix(api): Fix avatar resolution in activity sidebar
  src/api/Users.js
  src/api/__tests__/Users-test.js
Owners: @box/ui-elements

fix(api): Fix avatar resolution in activity sidebar (Add queryString)
  src/api/Users.js
Owners: @box/ui-elements

CODEOWNERS:

# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/conf/                                      @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Element Experiences
/src/elements/content-sidebar/activity-feed/task-new/ @box/ui-elements-extended @box/ui-elements
