Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

CODEOWNERS:

# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/conf/                                      @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Element Experiences
/src/elements/content-sidebar/activity-feed/task-new/ @box/ui-elements-extended @box/ui-elements

feat(left-nav): add Box Relay icon (#1207)
  src/features/left-sidebar/LeftSidebar.md
  src/features/left-sidebar/icons/IconBoxRelay.js
  src/features/left-sidebar/icons/IconBoxRelay.md
  src/features/left-sidebar/icons/__tests__/__snapshots__/left-sidebar-icons-test.js.snap
  src/features/left-sidebar/icons/__tests__/left-sidebar-icons-test.js
Owners: @box/webapp

feat(radio): formik wrapper for RadioButton (#1204)
  src/components/checkbox/CheckboxField.js
  src/components/form-elements/formik/README.md
  src/components/radio/RadioButton.js
  src/components/radio/RadioButtonField.js
  src/components/radio/__tests__/RadioButtonField-test.js
  src/components/radio/__tests__/__snapshots__/RadioButtonField-test.js.snap
  src/components/radio/index.js
  src/components/toggle/ToggleField.js
Owners: @box/ui-elements-extended

feat(pill-selector): formik wrapper for pill selector (#1194)
  src/components/form-elements/formik/README.md
  src/components/pill-cloud/PillCloud.js
  src/components/pill-cloud/README.md
  src/components/pill-cloud/__tests__/PillCloud-test.js
  src/components/pill-cloud/__tests__/__snapshots__/PillCloud-test.js.snap
  src/components/pill-selector-dropdown/Pill.js
  src/components/pill-selector-dropdown/PillSelector.js
  src/components/pill-selector-dropdown/PillSelectorDropdown.js
  src/components/pill-selector-dropdown/PillSelectorDropdownField.js
  src/components/pill-selector-dropdown/README.md
  src/components/pill-selector-dropdown/__tests__/Pill-test.js
  src/components/pill-selector-dropdown/__tests__/PillSelector-test.js
  src/components/pill-selector-dropdown/__tests__/PillSelectorDropdown-test.js
  src/components/pill-selector-dropdown/__tests__/PillSelectorDropdownField-test.js
  src/components/pill-selector-dropdown/__tests__/__snapshots__/Pill-test.js.snap
  src/components/pill-selector-dropdown/__tests__/__snapshots__/PillSelectorDropdown-test.js.snap
  src/components/pill-selector-dropdown/__tests__/__snapshots__/PillSelectorDropdownField-test.js.snap
  src/components/pill-selector-dropdown/__tests__/__snapshots__/defaultDropdownRenderer-test.js.snap
  src/components/pill-selector-dropdown/__tests__/defaultDropdownFilter-test.js
  src/components/pill-selector-dropdown/__tests__/defaultDropdownRenderer-test.js
  src/components/pill-selector-dropdown/defaultDropdownFilter.js
  src/components/pill-selector-dropdown/defaultDropdownRenderer.js
  src/components/pill-selector-dropdown/flowTypes.js
  src/components/pill-selector-dropdown/index.js
  src/elements/content-sidebar/skills/keywords/__tests__/__snapshots__/EditableKeywords-test.js.snap
  src/elements/content-sidebar/skills/keywords/__tests__/__snapshots__/ReadOnlyKeywords-test.js.snap
  src/elements/content-sidebar/skills/keywords/__tests__/keywordUtil-test.js
  src/elements/content-sidebar/skills/keywords/flowTypes.js
  src/elements/content-sidebar/skills/keywords/keywordUtils.js
  src/features/invite-collaborators-modal/__tests__/__snapshots__/InviteCollaboratorsModal-test.js.snap
  src/features/unified-share-modal/__tests__/__snapshots__/ContactsField-test.js.snap
  src/styles/common/_pills.scss
Owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

chore(content-preview): Let consumers know if version is current
  src/elements/content-preview/ContentPreview.js
Owners: @box/ui-elements

feat(pill-selector): update flow type for downstream issue
  src/components/pill-selector-dropdown/PillSelectorDropdownField.js
Owners: @box/ui-elements-extended

feat(pill-selector): update flow type for downstream issue (#1210)
  src/components/pill-selector-dropdown/PillSelectorDropdownField.js
Owners: @box/ui-elements-extended

chore(versions): Include current version in additionalVersionInf
  flow-typed/box-ui-elements.js
  src/elements/content-explorer/ContentExplorer.js
  src/elements/content-preview/ContentPreview.js
Owners: @box/ui-elements-extended, @box/ui-elements

chore(versions): PR feedback
  src/elements/content-preview/ContentPreview.js
  src/elements/content-sidebar/versions/VersionsSidebarContainer.js
  src/elements/content-sidebar/versions/__tests__/VersionsSidebarContainer-test.js
Owners: @box/ui-elements

feat(access-label): Add text override prop
  src/features/shared-link-modal/AccessLabel.js
  src/features/shared-link-modal/__tests__/AccessLabel-test.js
  src/features/shared-link-modal/__tests__/__snapshots__/AccessLabel-test.js.snap
Owners: @box/webapp

chore(variables): Add threes
  src/styles/_variables.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements-extended

fix(i18n): change "accepted" copy to "approved"
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
Owners: @box/ui-elements, @box/ui-elements-extended

fix(i18n): change "accepted" copy to "approved" (#1214)
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
Owners: @box/ui-elements, @box/ui-elements-extended

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/en-US.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations (#1215)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/en-US.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

feat(validators): host, ipv4 and domain name validators
  package.json
  src/features/unified-share-modal/EmailForm.js
  src/utils/__tests__/validators-test.js
  src/utils/validators.js
  yarn.lock
Owners: @box/ui-elements-extended, @box/webapp

fix: added uncommon tlds for email checking
  src/features/unified-share-modal/__tests__/EmailForm-test.js
  src/utils/__tests__/validators-test.js
Owners: @box/webapp, @box/ui-elements-extended

fix: adding some bad tlds
  src/utils/__tests__/validators-test.js
Owners: @box/ui-elements-extended

feat(shield-icon): Add Shield Product Icon
  src/icons/general/IconShield.js
  src/icons/general/IconShield.md
  src/icons/general/__tests__/IconShieldProduct-test.js
  src/icons/general/__tests__/__snapshots__/IconShieldProduct-test.js.snap
Owners: @box/ui-elements-extended

feat(icon-shield): Fix naming
  src/icons/general/IconShield.js
  src/icons/general/IconShield.md
  src/icons/general/__tests__/IconShield-test.js
  src/icons/general/__tests__/__snapshots__/IconShield-test.js.snap
  src/icons/general/__tests__/__snapshots__/IconShieldProduct-test.js.snap
Owners: @box/ui-elements-extended

feat(validators): host, ipv4 and domain name validators (#1212)
  package.json
  src/features/unified-share-modal/EmailForm.js
  src/features/unified-share-modal/__tests__/EmailForm-test.js
  src/utils/__tests__/validators-test.js
  src/utils/validators.js
  yarn.lock
Owners: @box/ui-elements-extended, @box/webapp

style(bdl-colors): add colors to variables.scss
  src/styles/_variables.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements-extended

feat(unified-share-modal): add external collab warning message
  i18n/en-US.properties
  src/features/unified-share-modal/ContactsField.js
  src/features/unified-share-modal/EmailForm.js
  src/features/unified-share-modal/SharedLinkSection.js
  src/features/unified-share-modal/UnifiedShareModal.js
  src/features/unified-share-modal/UnifiedShareModal.scss
  src/features/unified-share-modal/__tests__/ContactsField-test.js
  src/features/unified-share-modal/__tests__/EmailForm-test.js
  src/features/unified-share-modal/__tests__/UnifiedShareModal-test.js
  src/features/unified-share-modal/__tests__/__snapshots__/ContactsField-test.js.snap
  src/features/unified-share-modal/__tests__/__snapshots__/EmailForm-test.js.snap
  src/features/unified-share-modal/__tests__/__snapshots__/UnifiedShareModal-test.js.snap
  src/features/unified-share-modal/flowTypes.js
  src/features/unified-share-modal/messages.js
Owners: @box/webapp

style(bdl-colors): add colors to variables.scss (#1219)
  src/styles/_variables.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements-extended

feat(unified-share-modal): add external collab warning message (#1220)
  i18n/en-US.properties
  src/features/unified-share-modal/ContactsField.js
  src/features/unified-share-modal/EmailForm.js
  src/features/unified-share-modal/SharedLinkSection.js
  src/features/unified-share-modal/UnifiedShareModal.js
  src/features/unified-share-modal/UnifiedShareModal.scss
  src/features/unified-share-modal/__tests__/ContactsField-test.js
  src/features/unified-share-modal/__tests__/EmailForm-test.js
  src/features/unified-share-modal/__tests__/UnifiedShareModal-test.js
  src/features/unified-share-modal/__tests__/__snapshots__/ContactsField-test.js.snap
  src/features/unified-share-modal/__tests__/__snapshots__/EmailForm-test.js.snap
  src/features/unified-share-modal/__tests__/__snapshots__/UnifiedShareModal-test.js.snap
  src/features/unified-share-modal/flowTypes.js
  src/features/unified-share-modal/messages.js
Owners: @box/webapp

chore(versions): PR feedback
  src/elements/content-sidebar/versions/VersionsSidebarContainer.js
Owners: @box/ui-elements

chore(versions): Helper to get current version ID
  src/elements/content-sidebar/versions/VersionsSidebarContainer.js
Owners: @box/ui-elements

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(version-history): Include current version ID in additionalVersionInfo
  flow-typed/box-ui-elements.js
  src/elements/content-explorer/ContentExplorer.js
  src/elements/content-sidebar/versions/VersionsSidebarContainer.js
  src/elements/content-sidebar/versions/__tests__/VersionsSidebarContainer-test.js
Owners: @box/ui-elements-extended, @box/ui-elements

feat(icon-globe): update to new globe icon
  src/icons/general/IconGlobe.js
  src/icons/general/__tests__/IconGlobe-test.js
Owners: @box/ui-elements-extended

feat(icon-globe-tinycon): added new globe tinycon
  src/icons/general/IconGlobe.js
  src/icons/general/IconGlobeTinycon.js
  src/icons/general/IconGlobeTinycon.md
  src/icons/general/__tests__/IconGlobeTinycon-test.js
Owners: @box/ui-elements-extended

feat(icons): update to new globe icon and add new globe tinycon (#1217)
  src/icons/general/IconGlobe.js
  src/icons/general/IconGlobeTinycon.js
  src/icons/general/IconGlobeTinycon.md
  src/icons/general/__tests__/IconGlobeTinycon-test.js
Owners: @box/ui-elements-extended

perf(sidebar): Lazy load sidebar panels without 500ms delay
  src/elements/common/async-load/AsyncLoad.js
Owners: @box/ui-elements

feat(icons): add icons for collections
  conf/styleguide.config.js
  src/icons/collections/IconCollections.js
  src/icons/collections/IconCollectionsAdd.js
  src/icons/collections/IconCollectionsFilled.js
  src/icons/collections/README.md
  src/icons/collections/__tests__/IconCollections-test.js
  src/icons/collections/__tests__/IconCollectionsAdd-test.js
  src/icons/collections/__tests__/IconCollectionsFilled-test.js
Owners: @box/ui-elements-extended

feat(icons): add snapshots for collections icons
  src/icons/collections/__tests__/IconCollections-test.js
  src/icons/collections/__tests__/IconCollectionsAdd-test.js
  src/icons/collections/__tests__/IconCollectionsFilled-test.js
  src/icons/collections/__tests__/__snapshots__/IconCollections-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsAdd-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsFilled-test.js.snap
Owners: @box/ui-elements-extended

refactor(tasks-new): extract task assignee avatars
  src/elements/content-sidebar/activity-feed/task-new/AssigneeAvatar.js
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
  src/elements/content-sidebar/activity-feed/task-new/Assignees.scss
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/_vars.scss
Owners: @box/ui-elements-extended, @box/ui-elements

fix(icons): fill in background for globe icon
  src/icons/general/IconGlobe.js
  src/icons/general/__tests__/IconGlobe-test.js
Owners: @box/ui-elements-extended

feat(icons): upload icons with corrected view boxes
  src/icons/collections/IconCollections.js
  src/icons/collections/IconCollectionsAdd.js
  src/icons/collections/IconCollectionsFilled.js
  src/icons/collections/README.md
  src/icons/collections/__tests__/__snapshots__/IconCollections-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsAdd-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsFilled-test.js.snap
Owners: @box/ui-elements-extended

fix(item-properties): Add aria-labelledby to description textarea
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarFileProperties-test.js.snap
  src/features/item-details/ItemProperties.js
  src/features/item-details/__tests__/__snapshots__/ItemProperties-test.js.snap
Owners: @box/ui-elements

fix(security): Upgrade axios to address security vulnerability
  package.json
  yarn.lock
Owners: @box/ui-elements-extended
