Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

CODEOWNERS:

# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/conf/                                      @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Element Experiences
/src/elements/content-sidebar/activity-feed/task-new/ @box/ui-elements-extended @box/ui-elements

fix(tasks): Remove spacing after task creator name in task card (#1133)
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
Owners: @box/ui-elements-extended, @box/ui-elements

fix(list-view): move rowIndex offset to div
  src/features/list-view/ListView.js
  src/features/list-view/__tests__/ListView-test.js
Owners: @box/webapp

fix(tasks): Allow names to wrap in task card when profile links provided
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
Owners: @box/ui-elements-extended, @box/ui-elements

fix(tasks): Allow names to wrap in task card when profile links provided (#1134)
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
Owners: @box/ui-elements-extended, @box/ui-elements

fix(tasks): Make task assignee dropdown scrollable
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.scss
Owners: @box/ui-elements

fix(tasks): Only set height when there are enough contacts
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.js
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.scss
  src/elements/content-sidebar/activity-feed/task-form/__tests__/TaskForm-test.js
Owners: @box/ui-elements

style(flmd): Change copy on FLMD modal per Box Design requirements (#1129)
  i18n/en-US.properties
  src/features/metadata-instance-editor/CascadePolicy.js
  src/features/metadata-instance-editor/CascadePolicy.scss
  src/features/metadata-instance-editor/__tests__/__snapshots__/CascadePolicy-test.js.snap
  src/features/metadata-instance-editor/messages.js
Owners: @box/webapp, @box/ui-elements

fix(tasks): improve test
  src/elements/content-sidebar/activity-feed/task-form/__tests__/TaskForm-test.js
Owners: @box/ui-elements

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/en-x-pseudo.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations (#1136)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/en-x-pseudo.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

fix(tasks): Disable task form submit button when loading
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.js
Owners: @box/ui-elements

fix(tasks): Disable other form elements when task form is loading
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.js
Owners: @box/ui-elements

fix(tasks): task input handling
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.js
Owners: @box/ui-elements

feat(uploader): prevent upload based on file size
  src/constants.js
  src/elements/content-uploader/ContentUploader.js
  src/elements/content-uploader/ItemAction.js
  src/elements/content-uploader/progressCellRenderer.js
  test/uploader.html
Owners: @box/ui-elements-extended, @box/ui-elements

fix(tasks): task input handling (#1138)
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.js
Owners: @box/ui-elements

fix(tasks): Disable task form when loading (#1137)
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.js
Owners: @box/ui-elements

fix(tasks): Make task assignee dropdown scrollable (#1135)
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.js
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.scss
  src/elements/content-sidebar/activity-feed/task-form/__tests__/TaskForm-test.js
Owners: @box/ui-elements

fix(list-view): move onCellHover logic to parent app and remove ref
  src/features/list-view/ListView.js
Owners: @box/webapp

fix(list-view): flow issue
  src/features/list-view/flowTypes.js
Owners: @box/webapp

fix(list-view): fix flow issue with missing props
  src/features/list-view/examples/ListViewExamples.js
Owners: @box/webapp

fix(list-view): fix flow type
  src/features/list-view/flowTypes.js
Owners: @box/webapp

fix(list-view): update tests
  src/features/list-view/__tests__/ListView-test.js
Owners: @box/webapp

style(links): restore default link outline
  src/components/tooltip/Tooltip.js
  src/components/tooltip/__tests__/Tooltip-test.js
  src/features/left-sidebar/LeftSidebarLink.js
  src/features/left-sidebar/__tests__/__snapshots__/LeftSidebarLink-test.js.snap
  src/features/left-sidebar/styles/LeftSidebar.scss
  src/styles/common/_links.scss
Owners: @box/ui-elements-extended, @box/webapp

fix(list-view): rename cellIndex to cellRowIndex
  src/features/list-view/ListView.js
  src/features/list-view/__tests__/ListView-test.js
  src/features/list-view/examples/ListViewExamples.js
Owners: @box/webapp

chore: Clarify types and add more tests
  src/elements/content-sidebar/Sidebar.js
  src/elements/content-sidebar/__tests__/Sidebar-test.js
Owners: @box/ui-elements

style(links): restore default link outline (#973)
  src/components/tooltip/Tooltip.js
  src/components/tooltip/__tests__/Tooltip-test.js
  src/features/left-sidebar/LeftSidebarLink.js
  src/features/left-sidebar/__tests__/__snapshots__/LeftSidebarLink-test.js.snap
  src/features/left-sidebar/styles/LeftSidebar.scss
  src/styles/common/_links.scss
Owners: @box/ui-elements-extended, @box/webapp

fix(list-view): rename cellCoordinate and render div in cellRenderer
  src/features/list-view/ListView.js
  src/features/list-view/__tests__/ListView-test.js
Owners: @box/webapp

fix(list-view): use generic prop instead of hoveredCellCoordinate
  src/features/list-view/ListView.js
  src/features/list-view/examples/ListViewExamples.js
Owners: @box/webapp

fix(list-view): revert cellRenderer test
  src/features/list-view/__tests__/ListView-test.js
Owners: @box/webapp

fix(list-view): move comment and update naming for cellCoordinate
  src/features/list-view/ListView.js
  src/features/list-view/examples/ListViewExamples.js
Owners: @box/webapp

fix(list-view): rename columnIndex to cellColumnIndex
  src/features/list-view/ListView.js
  src/features/list-view/__tests__/ListView-test.js
Owners: @box/webapp

fix(list-view): fix flow issue
  src/features/list-view/examples/ListViewExamples.js
Owners: @box/webapp

feat(unified-share-modal): cleanup fuzzy search code
  src/features/unified-share-modal/ContactsField.js
  src/features/unified-share-modal/EmailForm.js
  src/features/unified-share-modal/UnifiedShareModal.js
  src/features/unified-share-modal/__tests__/ContactsField-test.js
  src/features/unified-share-modal/__tests__/__snapshots__/ContactsField-test.js.snap
  src/features/unified-share-modal/constants.js
  src/features/unified-share-modal/flowTypes.js
Owners: @box/webapp

chore: Separate open and navigated dirty checks
  src/elements/content-sidebar/Sidebar.js
Owners: @box/ui-elements

fix(query-bar): use <> instead of !=
  src/features/query-bar/constants.js
Owners: @box/webapp

fix(query-bar): updated snapshots
  src/features/query-bar/__tests__/__snapshots__/Condition-test.js.snap
Owners: @box/webapp

chore: Fix jsdocs
  src/elements/content-sidebar/Sidebar.js
Owners: @box/ui-elements

fix(list-view): show pointer on hover of metadata column header
  src/features/list-view/ListView.js
  src/features/list-view/styles/ListView.scss
Owners: @box/webapp

feat(unified-share-modal): removed snapshots for empty tests for clarity
  src/features/unified-share-modal/__tests__/ContactsField-test.js
  src/features/unified-share-modal/__tests__/__snapshots__/ContactsField-test.js.snap
Owners: @box/webapp

fix(sidebar): Sidebar now remembers toggle state between sessions (#1121)
  src/elements/content-sidebar/Sidebar.js
  src/elements/content-sidebar/__tests__/Sidebar-test.js
Owners: @box/ui-elements
