Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements, @box/webapp, @box/partners, @box/preview, @box/create-communicate, @box/design-system

CODEOWNERS:

# Default
*                                           @box/ui-elements

# Root
/*                                          @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements

# Source
/src/                                       @box/ui-elements @box/webapp
/src/*                                      @box/ui-elements
/src/api/                                   @box/ui-elements
/src/api/box-edit/                          @box/ui-elements @box/partners
/src/api/Feed.js                            @box/ui-elements @box/preview
/src/api/uploads/                           @box/ui-elements @box/create-communicate
/src/components/                            @box/ui-elements
/src/elements/                              @box/ui-elements
/src/elements/content-explorer/             @box/ui-elements
/src/elements/content-open-with/            @box/ui-elements @box/partners
/src/elements/content-picker/               @box/ui-elements
/src/elements/content-preview/              @box/ui-elements @box/preview
/src/elements/content-sharing/              @box/ui-elements @box/partners
/src/elements/content-sidebar/              @box/ui-elements @box/preview
/src/elements/content-uploader/             @box/ui-elements @box/create-communicate
/src/elements/wrappers/                     @box/ui-elements
/src/features/                              @box/ui-elements
/src/features/access-stats/                 @box/ui-elements @box/preview
/src/features/content-insights/             @box/ui-elements @box/preview
/src/features/item-details/                 @box/ui-elements @box/preview
/src/features/metadata-based-view/          @box/ui-elements @box/preview
/src/features/metadata-instance-editor/     @box/ui-elements @box/preview
/src/styles/                                @box/ui-elements @box/design-system

# Tests
/test/                                      @box/ui-elements @box/webapp
/test/integration/                          @box/ui-elements @box/webapp
/test/integration/content-explorer/         @box/ui-elements
/test/integration/content-open-with/        @box/ui-elements @box/partners
/test/integration/content-picker/           @box/ui-elements
/test/integration/content-preview/          @box/ui-elements @box/preview
/test/integration/content-sidebar/          @box/ui-elements @box/preview
/test/integration/content-uploader/         @box/ui-elements @box/create-communicate

feat(uploads): add option to error on name conflicts (#4117)
  src/api/uploads/BaseUpload.js
  src/api/uploads/MultiputUpload.js
  src/api/uploads/PlainUpload.js
  src/api/uploads/__tests__/BaseUpload.test.js
  src/elements/content-uploader/ContentUploader.tsx
  src/elements/content-uploader/ItemAction.tsx
Owners: @box/ui-elements, @box/create-communicate

chore: update to v9.0.14
  .gitignore
  package.json
  src/components/button/Button.stories.tsx
  yarn.lock
Owners: @box/ui-elements

chore: upgrade cypress
  package.json
  yarn.lock
Owners: @box/ui-elements

fix: cypress tests
  test/integration/content-preview/ContentPreview.e2e.cy.js
  test/integration/content-sidebar/ContentSidebar.e2e.cy.js
  test/integration/content-sidebar/TaskForm.e2e.cy.js
  test/integration/open-with/OpenWith.int.cy.js
  test/support/commands.js
  test/support/events.js
  test/support/index.js
Owners: @box/ui-elements, @box/preview, @box/webapp

test: pin testing-library/user-event
  package.json
  yarn.lock
Owners: @box/ui-elements

chore: update cypress circleci
  .circleci/config.yml
  test/support/events.js
Owners: @box/ui-elements, @box/webapp

revert: Revert "test: pin testing-library/user-event"
  package.json
  yarn.lock
Owners: @box/ui-elements

chore: remove redundant test
  .storybook/public/mockServiceWorker.js
  src/elements/content-picker/stories/tests/ContentPicker-visual.stories.js
  yarn.lock
Owners: @box/ui-elements

fix: i'm not going to spend time looking into this
  test/integration/content-sidebar/ContentSidebar.e2e.cy.js
  test/integration/content-sidebar/TaskForm.e2e.cy.js
Owners: @box/ui-elements, @box/preview

Notes added by 'git notes add'
  463839ee00c901cd9752106ca1a44e7a3906dc0b
Owners: @box/ui-elements

revert: remove createRoot for react 17 support
  src/elements/wrappers/ContentExplorer.js
  src/elements/wrappers/ContentOpenWith.js
  src/elements/wrappers/ContentPicker.js
  src/elements/wrappers/ContentPreview.js
  src/elements/wrappers/ContentSharing.js
  src/elements/wrappers/ContentSidebar.js
  src/elements/wrappers/ContentUploader.js
  src/elements/wrappers/ES6Wrapper.js
Owners: @box/ui-elements

chore(item-details): add data-target-id to retention policy extend button
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarFileProperties.test.js.snap
  src/features/item-details/RetentionPolicy.js
  src/features/item-details/__tests__/__snapshots__/RetentionPolicy.test.js.snap
Owners: @box/ui-elements, @box/preview

fix(breadcrumb): Add missing key property
  src/components/breadcrumb/Breadcrumb.js
Owners: @box/ui-elements

fix(breadcrumb): Change key name
  src/components/breadcrumb/Breadcrumb.js
Owners: @box/ui-elements
