Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

feat: added grid view button and simple toggle
  src/elements/common/sub-header/SubHeader.js
  src/elements/common/sub-header/SubHeaderRight.js
  src/elements/content-explorer/Content.js
  src/elements/content-explorer/ContentExplorer.js
Owners: @box/ui-elements

fix(avatar): Fix avatar resolution in activity sidebar (#1243)
  src/api/Users.js
  src/api/__tests__/Users-test.js
Owners: @box/ui-elements

fix(task-new): handle inline task deletion errors
  i18n/en-US.properties
  src/api/Feed.js
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/comment/Comment.js
Owners: @box/webapp, @box/ui-elements

feat(content-explorer): Add ability to sort contents by size column (#1239)
  flow-typed/box-ui-elements.js
  src/elements/common/sub-header/Sort.js
  src/elements/common/sub-header/__tests__/Sort-test.js
  src/elements/content-explorer/ItemList.js
Owners: @box/ui-elements-extended, @box/ui-elements

chore(i18n): update translations
  i18n/nl-NL.properties
  i18n/sv-SE.properties
Owners: @box/webapp

chore(i18n): update translations
  i18n/nl-NL.properties
  i18n/sv-SE.properties
Owners: @box/webapp

refactor(tasks): make handlers and prop names more consistent
  src/elements/content-sidebar/activity-feed/comment/Comment.js
  src/elements/content-sidebar/activity-feed/comment/CommentMenu.js
  src/elements/content-sidebar/activity-feed/comment/__tests__/Comment-test.js
  src/elements/content-sidebar/activity-feed/comment/__tests__/CommentMenu-test.js
  src/elements/content-sidebar/activity-feed/task/Task.js
  src/elements/content-sidebar/activity-feed/task/__tests__/__snapshots__/Task-test.js.snap
Owners: @box/ui-elements

fix(tasks): address comments from code review
  src/elements/content-sidebar/activity-feed/activity-feed/ActivityFeed.scss
  src/elements/content-sidebar/activity-feed/comment/Comment.js
  src/elements/content-sidebar/activity-feed/comment/Comment.scss
  src/elements/content-sidebar/activity-feed/comment/CommentMenu.js
Owners: @box/ui-elements

feat(tasks): add in comment modification option for tasks (#1247)
  i18n/en-US.properties
  src/api/Feed.js
  src/constants.js
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/app-activity/AppActivity.scss
  src/elements/content-sidebar/activity-feed/comment/Comment.js
  src/elements/content-sidebar/activity-feed/comment/Comment.scss
  src/elements/content-sidebar/activity-feed/comment/CommentMenu.js
  src/elements/content-sidebar/activity-feed/comment/InlineEdit.js
  src/elements/content-sidebar/activity-feed/comment/__tests__/Comment-test.js
  src/elements/content-sidebar/activity-feed/comment/__tests__/CommentMenu-test.js
  src/elements/content-sidebar/activity-feed/comment/__tests__/InlineEdit-test.js
  src/elements/content-sidebar/activity-feed/comment/__tests__/__snapshots__/Comment-test.js.snap
  src/elements/content-sidebar/activity-feed/comment/__tests__/__snapshots__/InlineEdit-test.js.snap
  src/elements/content-sidebar/activity-feed/task-new/Task.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Task-test.js.snap
  src/elements/content-sidebar/activity-feed/task/Task.js
  src/elements/content-sidebar/activity-feed/task/__tests__/__snapshots__/Task-test.js.snap
Owners: @box/webapp, @box/ui-elements, @box/ui-elements-extended

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations (#1248)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

fix(beta-feedback): update aria-labelledby attribute name
  src/features/beta-feedback/BetaFeedbackBadge.js
  src/features/beta-feedback/__tests__/__snapshots__/BetaFeedbackBadge-test.js.snap
Owners: @box/webapp

fix(tasks): comments menu does not appear on activity sidebar in preview
  src/elements/content-sidebar/activity-feed/comment/Comment.js
  src/elements/content-sidebar/activity-feed/comment/Comment.scss
Owners: @box/ui-elements

fix(css): scope css so that it does not override styles outside of box-ui-components
  src/components/button-group/ButtonGroup.js
  src/components/button-group/ButtonGroup.scss
  src/components/button/Button.js
  src/components/flyout/Flyout.js
  src/components/flyout/Flyout.scss
  src/components/flyout/Overlay.js
  src/components/inline-error/InlineError.js
  src/components/inline-notice/InlineNotice.js
  src/components/label/Label.scss
  src/components/label/LabelPrimitive.js
  src/components/loading-indicator/Crawler.scss
  src/components/loading-indicator/LoadingIndicator.js
  src/components/loading-indicator/LoadingIndicatorWrapper.js
  src/components/loading-indicator/LoadingIndicatorWrapper.scss
  src/components/notification/Notification.js
  src/components/notification/Notification.scss
  src/components/notification/NotificationsWrapper.js
  src/components/plain-button/PlainButton.js
  src/components/primary-button/PrimaryButton.js
  src/components/radar/RadarAnimation.js
  src/components/radar/RadarAnimation.scss
  src/components/tooltip/Tooltip.js
  src/components/tooltip/Tooltip.scss
  src/elements/content-uploader/ContentUploader.js
  src/elements/content-uploader/ContentUploader.scss
  src/elements/content-uploader/Footer.scss
  src/elements/content-uploader/IconName.scss
  src/elements/content-uploader/ItemList.scss
  src/elements/content-uploader/ItemName.scss
  src/elements/content-uploader/OverallUploadsProgressBar.scss
  src/elements/content-uploader/ProgressBar.scss
  src/elements/content-uploader/UploadsManager.scss
  src/features/quick-search/QuickSearchMessage.js
  src/styles/common/_buttons.scss
  src/styles/common/_inline-notifications.scss
  src/styles/common/_overlay.scss
Owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

fix(tasks): Add tests for comment menu to be present
  src/elements/content-sidebar/activity-feed/comment/__tests__/Comment-test.js
Owners: @box/ui-elements

fix: comments after initial PR looked at
  src/components/button/Button.js
  src/components/menu/MenuItem.js
  src/components/plain-button/PlainButton.js
  src/components/primary-button/PrimaryButton.js
  src/elements/common/create-folder-dialog/CreateFolderDialog.js
  src/elements/common/item/ItemName.js
  src/elements/common/sub-header/Add.js
  src/elements/common/sub-header/AddButton.js
  src/elements/content-explorer/Content.js
  src/elements/content-explorer/ContentExplorer.js
  src/elements/content-explorer/RenameDialog.js
  src/elements/content-explorer/ShareDialog.js
  src/elements/content-explorer/moreOptionsCellRenderer.js
  src/elements/content-preview/preview-header/PreviewHeader.js
  src/elements/content-uploader/Footer.js
  test/integration/content-explorer/ContentExplorer.e2e.test.js
  test/support/commands.js
Owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

fix(tasks): comments menu does not appear on activity sidebar in preview (#1250)
  src/elements/content-sidebar/activity-feed/comment/Comment.js
  src/elements/content-sidebar/activity-feed/comment/Comment.scss
  src/elements/content-sidebar/activity-feed/comment/__tests__/Comment-test.js
Owners: @box/ui-elements

chore(tasks): Combine permission test for comment menu
  src/elements/content-sidebar/activity-feed/comment/__tests__/Comment-test.js
Owners: @box/ui-elements

fix(footer-indicator): move tooltip to appear above footer indicator
  src/components/footer-indicator/FooterIndicator.js
  src/components/footer-indicator/FooterIndicator.md
  src/components/footer-indicator/__tests__/__snapshots__/FooterIndicator-test.js.snap
Owners: @box/ui-elements-extended

chore(tasks): Combine permission test for comment menu (#1252)
  src/elements/content-sidebar/activity-feed/comment/__tests__/Comment-test.js
Owners: @box/ui-elements

fix: Made Cypress test prioritize user-facing text. Fixed testid's
  src/components/button/Button.js
  src/components/menu/MenuItem.js
  src/components/plain-button/PlainButton.js
  src/components/primary-button/PrimaryButton.js
  src/elements/common/create-folder-dialog/CreateFolderDialog.js
  src/elements/common/item/ItemName.js
  src/elements/common/sub-header/Add.js
  src/elements/common/sub-header/AddButton.js
  src/elements/content-explorer/RenameDialog.js
  src/elements/content-explorer/ShareDialog.js
  src/elements/content-explorer/moreOptionsCellRenderer.js
  src/elements/content-preview/preview-header/PreviewHeader.js
  src/elements/content-uploader/Footer.js
  test/integration/content-explorer/ContentExplorer.e2e.test.js
Owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

refactor(content-sidebar): make TaskModal separate component
  src/elements/content-sidebar/AddTaskButton.js
  src/elements/content-sidebar/TaskModal.js
  src/elements/content-sidebar/__tests__/TaskModal-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/TaskModal-test.js.snap
Owners: @box/ui-elements

fix(footer-indicator): move tooltip to appear above footer indicator
  src/components/footer-indicator/FooterIndicator.js
  src/components/footer-indicator/FooterIndicator.md
  src/components/footer-indicator/__tests__/__snapshots__/FooterIndicator-test.js.snap
Owners: @box/ui-elements-extended

fix: removed data-testid's from components that no longer need them
  src/elements/common/sub-header/Add.js
  src/elements/common/sub-header/AddButton.js
  src/elements/content-explorer/Content.js
  src/elements/content-explorer/RenameDialog.js
  src/elements/content-explorer/ShareDialog.js
  src/elements/content-explorer/moreOptionsCellRenderer.js
  src/elements/content-preview/preview-header/PreviewHeader.js
  src/elements/content-uploader/Footer.js
  test/integration/content-explorer/ContentExplorer.int.test.js
  test/support/commands.js
Owners: @box/ui-elements, @box/webapp, @box/ui-elements-extended

fix: made utils.js and improved selectRow function
  test/integration/content-explorer/ContentExplorer.int.test.js
  test/support/utils.js
Owners: @box/webapp, @box/ui-elements-extended

fix: moved comment in utils.js
  test/support/utils.js
Owners: @box/ui-elements-extended

fix(content-sidebar): address comments in PR
  src/elements/content-sidebar/ActivitySidebar.js
  src/elements/content-sidebar/AddTaskButton.js
  src/elements/content-sidebar/TaskModal.js
  src/elements/content-sidebar/__tests__/TaskModal-test.js
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.js
Owners: @box/ui-elements

refactor(content-sidebar): make TaskModal separate component (#1254)
  src/elements/content-sidebar/ActivitySidebar.js
  src/elements/content-sidebar/AddTaskButton.js
  src/elements/content-sidebar/TaskModal.js
  src/elements/content-sidebar/__tests__/TaskModal-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/TaskModal-test.js.snap
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.js
Owners: @box/ui-elements

feat(tasks): Add new task edit api methods
  flow-typed/box-ui-elements.js
  src/api/Feed.js
  src/api/tasks/TasksNew.js
  src/elements/content-sidebar/ActivitySidebar.js
Owners: @box/ui-elements-extended, @box/ui-elements

feat(content-sidebar): add task modal mode for edit/create
  flow-typed/box-ui-elements.js
  i18n/en-US.properties
  src/constants.js
  src/elements/common/messages.js
  src/elements/content-sidebar/TaskModal.js
  src/elements/content-sidebar/__tests__/TaskModal-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/TaskModal-test.js.snap
Owners: @box/ui-elements-extended, @box/webapp, @box/ui-elements

refactor(tasks-new): extract TaskDueDate and TaskStatus styles
  src/elements/content-sidebar/activity-feed/task-new/Task.js
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/TaskDueDate.js
  src/elements/content-sidebar/activity-feed/task-new/TaskDueDate.scss
  src/elements/content-sidebar/activity-feed/task-new/TaskStatus.js
  src/elements/content-sidebar/activity-feed/task-new/TaskStatus.scss
  src/elements/content-sidebar/activity-feed/task-new/__tests__/Task-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/TaskDueDate-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/TaskDueDate-test.js.snap
  src/elements/content-sidebar/activity-feed/task/__tests__/Task-test.js
Owners: @box/ui-elements-extended, @box/ui-elements

refactor(tasks-new): extract task assignee avatars
  src/elements/content-sidebar/activity-feed/task-new/TaskDueDate.scss
Owners: @box/ui-elements-extended, @box/ui-elements

fix: made updateCollection setState in function, added optional callback
  src/elements/content-explorer/ContentExplorer.js
Owners: @box/ui-elements

feat(content-sidebar): add task modal mode for edit/create (#1257)
  flow-typed/box-ui-elements.js
  i18n/en-US.properties
  src/constants.js
  src/elements/common/messages.js
  src/elements/content-sidebar/TaskModal.js
  src/elements/content-sidebar/__tests__/TaskModal-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/TaskModal-test.js.snap
Owners: @box/ui-elements-extended, @box/webapp, @box/ui-elements

refactor(tasks-new): extract TaskDueDate and TaskStatus styles
  src/elements/content-sidebar/activity-feed/task/__tests__/Task-test.js
Owners: @box/ui-elements

fix: cleaned up updateCollection description. adjusted select() callback
  src/elements/content-explorer/ContentExplorer.js
Owners: @box/ui-elements

feat(tasks): Add onTaskUpdate callback
  src/elements/content-sidebar/ActivitySidebar.js
Owners: @box/ui-elements

fix(content-explorer): rows no longer stuck after closing modal (#1245)
  src/components/plain-button/PlainButton.js
  src/elements/common/create-folder-dialog/CreateFolderDialog.js
  src/elements/common/item/ItemName.js
  src/elements/common/sub-header/AddButton.js
  src/elements/content-explorer/ContentExplorer.js
  src/elements/content-explorer/moreOptionsCellRenderer.js
  test/fixtures/content-explorer/root-folder.json
  test/integration/content-explorer/ContentExplorer.int.test.js
  test/support/commands.js
  test/support/utils.js
Owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

fix(versions): Display correct upload date for current file version
  src/features/version-history-modal/FileVersionInfo.js
Owners: @box/webapp

fix(versions): Display correct upload date for current file version
  src/features/version-history-modal/__tests__/FileVersionInfo-test.js
Owners: @box/webapp

CODEOWNERS:

# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/conf/                                      @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Element Experiences
/src/elements/content-sidebar/activity-feed/task-new/ @box/ui-elements-extended @box/ui-elements
