Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

feat(tasks): Add tests for udpateTaskNew
  src/api/__tests__/Feed-test.js
Owners: @box/ui-elements

feat(tasks): Add tests for udpateTaskNew in activitySidebar
  src/api/__tests__/Feed-test.js
  src/elements/content-sidebar/__tests__/ActivitySidebar-test.js
Owners: @box/ui-elements

refactor(tasks-new): extract TaskDueDate and TaskStatus styles
  src/elements/content-sidebar/activity-feed/task-new/TaskDueDate.scss
Owners: @box/ui-elements-extended, @box/ui-elements

refactor(tasks-new): extract TaskDueDate and TaskStatus styles (#1258)
  src/elements/content-sidebar/activity-feed/task-new/Task.js
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/TaskDueDate.js
  src/elements/content-sidebar/activity-feed/task-new/TaskDueDate.scss
  src/elements/content-sidebar/activity-feed/task-new/TaskStatus.js
  src/elements/content-sidebar/activity-feed/task-new/TaskStatus.scss
  src/elements/content-sidebar/activity-feed/task-new/__tests__/Task-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/TaskDueDate-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/TaskDueDate-test.js.snap
Owners: @box/ui-elements-extended, @box/ui-elements

feat(versions): Add support for deep linking to ContentSidebar
  flow-typed/box-ui-elements.js
  src/elements/content-preview/ContentPreview.js
  src/elements/content-sidebar/ContentSidebar.js
  src/elements/content-sidebar/Sidebar.js
  src/elements/content-sidebar/SidebarNav.js
  src/elements/content-sidebar/SidebarPanels.js
  src/elements/content-sidebar/SidebarRoute.js
  src/elements/content-sidebar/SidebarRouter.js
  src/elements/content-sidebar/SidebarUtils.js
  src/elements/content-sidebar/__tests__/ContentSidebar-test.js
  src/elements/content-sidebar/__tests__/Sidebar-test.js
  src/elements/content-sidebar/__tests__/SidebarNav-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarPanels-test.js.snap
  src/elements/content-sidebar/versions/VersionsSidebarContainer.js
  src/elements/content-sidebar/versions/__tests__/VersionsSidebarContainer-test.js
Owners: @box/ui-elements-extended, @box/ui-elements

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations (#1255)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

feat: have basic grid view visuals in BCE
  src/components/core/item-list/components/GridViewSlider.js
  src/components/core/pure-component/hocs.js
  src/components/core/pure-component/index.js
  src/components/core/table/components/BaseTable.js
  src/components/core/table/styles/Table.scss
  src/components/core/table/styles/_Table.media.scss
  src/components/in-app-messenger/_variables.scss
  src/components/pages/metadata-view-page/components/MDVGridView.js
  src/components/pages/metadata-view-page/components/MDVGridViewSlot.js
  src/components/pages/metadata-view-page/styles/MDVGridView.scss
  src/components/pages/metadata-view-page/styles/MDVGridViewSlot.scss
  src/elements/common/sub-header/SubHeader.js
  src/elements/common/sub-header/SubHeaderRight.js
  src/elements/content-explorer/ContentExplorer.js
  src/elements/content-picker/ContentPicker.js
  src/lib/react-virtualized/flowTypes.js
  src/lib/scroll/index.js
  src/lib/scroll/scroll.js
  src/styles/_sizes.media.scss
  src/styles/_variables.scss
Owners: @box/ui-elements-extended, @box/ui-elements

feat: can preview and navigate in grid view
  src/components/pages/metadata-view-page/components/MDVGridView.js
  src/components/pages/metadata-view-page/components/MDVGridViewSlot.js
  src/elements/content-explorer/ContentExplorer.js
Owners: @box/ui-elements-extended, @box/ui-elements

feat: can now toggle between list view and gird view
  src/elements/common/sub-header/SubHeader.js
  src/elements/common/sub-header/SubHeaderRight.js
  src/elements/content-explorer/Content.js
  src/elements/content-explorer/ContentExplorer.js
  src/elements/content-picker/ContentPicker.js
Owners: @box/ui-elements

chore: Review feedback and unit tests
  src/elements/content-sidebar/Sidebar.js
  src/elements/content-sidebar/__tests__/Sidebar-test.js
  src/elements/content-sidebar/versions/__tests__/VersionsSidebarContainer-test.js
Owners: @box/ui-elements

feat(tasks): Add new task edit api methods (#1260)
  flow-typed/box-ui-elements.js
  src/api/Feed.js
  src/api/__tests__/Feed-test.js
  src/api/tasks/TasksNew.js
  src/elements/content-sidebar/ActivitySidebar.js
  src/elements/content-sidebar/__tests__/ActivitySidebar-test.js
Owners: @box/ui-elements-extended, @box/ui-elements

feat: design changes
  i18n/en-US.properties
  src/elements/common/messages.js
  src/elements/content-sidebar/DetailsSidebar.scss
  src/elements/content-sidebar/SidebarClassification.js
  src/elements/content-sidebar/SidebarClassification.scss
  src/elements/content-sidebar/__tests__/SidebarClassification-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarClassification-test.js.snap
  src/elements/content-sidebar/_mixins.scss
  src/features/classification/Classification.js
  src/features/classification/Classification.scss
  src/features/classification/EditClassificationButton.js
  src/features/classification/__tests__/EditClassificationButton-test.js
  src/features/classification/__tests__/__snapshots__/Classification-test.js.snap
  src/features/classification/__tests__/__snapshots__/EditClassificationButton-test.js.snap
  src/features/classification/index.js
  src/features/classification/messages.js
Owners: @box/webapp, @box/ui-elements

feat(classification): new section within the details sidebar
  flow-typed/box-ui-elements.js
  i18n/en-US.properties
  src/components/collapsible/Collapsible.scss
  src/elements/common/interactionTargets.js
  src/elements/common/messages.js
  src/elements/content-sidebar/DetailsSidebar.js
  src/elements/content-sidebar/DetailsSidebar.scss
  src/elements/content-sidebar/SidebarClassification.js
  src/elements/content-sidebar/SidebarClassification.scss
  src/elements/content-sidebar/SidebarFileProperties.js
  src/elements/content-sidebar/SidebarSection.js
  src/elements/content-sidebar/__tests__/DetailsSidebar-test.js
  src/elements/content-sidebar/__tests__/SidebarClassification-test.js
  src/elements/content-sidebar/__tests__/SidebarFileProperties-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/DetailsSidebar-test.js.snap
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarClassification-test.js.snap
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarFileProperties-test.js.snap
  src/features/classification/Classification.js
  src/features/classification/Classification.scss
  src/features/classification/__tests__/Classification-test.js
  src/features/classification/__tests__/__snapshots__/Classification-test.js.snap
  src/features/classification/index.js
  src/features/classification/messages.js
  test/sidebar.html
Owners: @box/ui-elements-extended, @box/webapp, @box/ui-elements

fix: PR feedback
  src/elements/content-sidebar/__tests__/SidebarClassification-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarClassification-test.js.snap
  src/features/classification/Classification.js
  src/features/classification/__tests__/AddClassificationBadge-test.js
  src/icons/general/IconAddTags.js
  src/icons/general/__tests__/__snapshots__/IconAddTags-test.js.snap
  src/styles/_variables.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements, @box/webapp, @box/ui-elements-extended

fix: snapshot
  src/elements/content-sidebar/DetailsSidebar.js
  src/elements/content-sidebar/SidebarFileProperties.js
  src/icons/badges/__tests__/__snapshots__/MetadataDefaultBadge-test.js.snap
Owners: @box/ui-elements, @box/ui-elements-extended

feat: classification badge changes
  src/elements/content-sidebar/DetailsSidebar.scss
  src/elements/content-sidebar/SidebarClassification.js
  src/elements/content-sidebar/SidebarClassification.scss
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarClassification-test.js.snap
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarFileProperties-test.js.snap
  src/elements/content-sidebar/_mixins.scss
  src/features/classification/AddClassificationBadge.js
  src/features/classification/AddClassificationBadge.scss
  src/features/classification/Classification.js
  src/features/classification/Classification.scss
  src/features/classification/ClassificationBadge.js
  src/features/classification/ClassificationBadge.scss
  src/features/classification/ClassificationProperty.js
  src/features/classification/ClassifiedBadge.js
  src/features/classification/ClassifiedBadge.scss
  src/features/classification/README.md
  src/features/classification/__tests__/AddClassificationBadge-test.js
  src/features/classification/__tests__/Classification-test.js
  src/features/classification/__tests__/ClassificationBadge-test.js
  src/features/classification/__tests__/ClassificationProperty-test.js
  src/features/classification/__tests__/ClassifiedBadge-test.js
  src/features/classification/__tests__/__snapshots__/AddClassificationBadge-test.js.snap
  src/features/classification/__tests__/__snapshots__/Classification-test.js.snap
  src/features/classification/__tests__/__snapshots__/ClassificationBadge-test.js.snap
  src/features/classification/__tests__/__snapshots__/ClassificationProperty-test.js.snap
  src/features/classification/__tests__/__snapshots__/ClassifiedBadge-test.js.snap
  src/features/classification/_mixins.scss
  src/features/classification/index.js
  src/features/item-details/ItemProperties.js
  src/features/item-details/ItemProperties.md
  src/features/item-details/__tests__/__snapshots__/ItemProperties-test.js.snap
  src/icons/general/IconAddTags.js
  src/icons/general/__tests__/__snapshots__/IconAddTags-test.js.snap
  src/styles/_variables.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements, @box/webapp, @box/ui-elements-extended

feat(versions): Add support for deep linking to ContentSidebar (#1203)
  flow-typed/box-ui-elements.js
  src/elements/content-preview/ContentPreview.js
  src/elements/content-sidebar/ContentSidebar.js
  src/elements/content-sidebar/Sidebar.js
  src/elements/content-sidebar/SidebarNav.js
  src/elements/content-sidebar/SidebarPanels.js
  src/elements/content-sidebar/SidebarRoute.js
  src/elements/content-sidebar/SidebarRouter.js
  src/elements/content-sidebar/SidebarUtils.js
  src/elements/content-sidebar/__tests__/ContentSidebar-test.js
  src/elements/content-sidebar/__tests__/Sidebar-test.js
  src/elements/content-sidebar/__tests__/SidebarNav-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarPanels-test.js.snap
  src/elements/content-sidebar/versions/VersionsSidebarContainer.js
  src/elements/content-sidebar/versions/__tests__/VersionsSidebarContainer-test.js
Owners: @box/ui-elements-extended, @box/ui-elements

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/en-x-pseudo.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

feat(select): make caret rotate up/down on open/close respectively (#1218)
  src/components/collapsible/Collapsible.scss
  src/components/dropdown-menu/MenuToggle.scss
  src/elements/content-sidebar/SidebarSection.scss
  src/styles/_variables.scss
  src/styles/common/_forms.scss
  src/styles/common/_tables.scss
Owners: @box/ui-elements-extended, @box/ui-elements

chore(i18n): update translations (#1262)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/en-x-pseudo.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

feat(office-online): adding excel spreadsheet icon for xlsb files
  src/icons/file-icon/FileIcon.js
  src/icons/file-icon/__tests__/FileIcon-test.js
  src/icons/file-icon/__tests__/__snapshots__/FileIcon-test.js.snap
  src/icons/microsoft-office/OfficeDesktopIcon.js
  src/icons/microsoft-office/OfficeOnlineIcon.js
  src/icons/microsoft-office/__tests__/OfficeDesktopIcon-test.js
  src/icons/microsoft-office/__tests__/OfficeOnlineIcon-test.js
Owners: @box/ui-elements-extended

fix(sidebar): padding on item properties versions
  src/elements/content-sidebar/DetailsSidebar.js
  src/elements/content-sidebar/DetailsSidebar.scss
  src/elements/content-sidebar/__tests__/__snapshots__/DetailsSidebar-test.js.snap
  src/elements/content-sidebar/_mixins.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements, @box/ui-elements-extended

fix: move css of versions to its own file
  src/elements/content-sidebar/DetailsSidebar.js
  src/elements/content-sidebar/DetailsSidebar.scss
  src/elements/content-sidebar/SidebarVersions.js
  src/elements/content-sidebar/SidebarVersions.scss
  src/elements/content-sidebar/__tests__/__snapshots__/DetailsSidebar-test.js.snap
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarVersions-test.js.snap
Owners: @box/ui-elements

fix(sidebar): padding on item properties versions (#1263)
  src/elements/content-sidebar/DetailsSidebar.js
  src/elements/content-sidebar/DetailsSidebar.scss
  src/elements/content-sidebar/SidebarVersions.js
  src/elements/content-sidebar/SidebarVersions.scss
  src/elements/content-sidebar/__tests__/__snapshots__/DetailsSidebar-test.js.snap
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarVersions-test.js.snap
  src/elements/content-sidebar/_mixins.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements, @box/ui-elements-extended

feat(office-online): adding excel spreadsheet icon for xlsb files
  src/icons/file-icon/FileIcon.js
  src/icons/file-icon/__tests__/FileIcon-test.js
  src/icons/file-icon/__tests__/__snapshots__/FileIcon-test.js.snap
  src/icons/microsoft-office/OfficeDesktopIcon.js
  src/icons/microsoft-office/OfficeOnlineIcon.js
  src/icons/microsoft-office/__tests__/OfficeDesktopIcon-test.js
  src/icons/microsoft-office/__tests__/OfficeOnlineIcon-test.js
Owners: @box/ui-elements-extended

CODEOWNERS:

# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/conf/                                      @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Element Experiences
/src/elements/content-sidebar/activity-feed/task-new/ @box/ui-elements-extended @box/ui-elements
