Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

CODEOWNERS:

# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/conf/                                      @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Element Experiences
/src/elements/content-sidebar/activity-feed/task-new/ @box/ui-elements-extended @box/ui-elements

fix(pickers): improve responsiveness when using longer strings
  src/elements/common/empty-state/EmptyState.scss
  src/elements/content-picker/Footer.scss
  src/elements/content-picker/ItemList.js
Owners: @box/ui-elements

fix(textinputwithcopybutton): fix focus issue
  src/components/text-input-with-copy-button/TextInputWithCopyButton.js
Owners: @box/ui-elements-extended

fix(textinputwithcopybutton): fix focus issue (#1168)
  src/components/text-input-with-copy-button/TextInputWithCopyButton.js
Owners: @box/ui-elements-extended

feat(tasks): Update task status to not use an icon
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/TaskStatus.js
Owners: @box/ui-elements-extended, @box/ui-elements

feat(inline-edit): pass in classname and update getDateValue
  src/features/query-bar/components/filter/ValueField.js
Owners: @box/webapp

fix(inline-edit): add overflow: visible to innerScrollContainer
  src/features/list-view/styles/ListView.scss
Owners: @box/webapp

fix(inline-edit): fix flow issue
  src/features/query-bar/components/filter/ValueField.js
Owners: @box/webapp

fix(tasks): autofocus first input in task form
  src/elements/content-sidebar/AddTaskButton.js
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.js
  test/integration/content-sidebar/TaskForm.e2e.test.js
Owners: @box/ui-elements, @box/webapp

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations (#1170)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

fix(tasks): use looser autofocus selector
  src/elements/content-sidebar/AddTaskButton.js
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.js
  test/integration/content-sidebar/TaskForm.e2e.test.js
Owners: @box/ui-elements, @box/webapp

fix(tasks): autofocus first input in task form (#1173)
  src/elements/content-sidebar/AddTaskButton.js
  test/integration/content-sidebar/TaskForm.e2e.test.js
Owners: @box/ui-elements, @box/webapp

feat(inline-edit): add error render logic and revert getDateValue
  src/features/query-bar/components/filter/ValueField.js
Owners: @box/webapp

fix(inline-edit): add TODO for innerScrollContainer
  src/features/list-view/styles/ListView.scss
Owners: @box/webapp

fix(inline-edit): update flowtype and remove whitespace
  src/features/query-bar/components/filter/ValueField.js
Owners: @box/webapp

chore: upgrade react and react-dom to v16.8 (#761)
  package.json
  yarn.lock
Owners: @box/ui-elements-extended

refactor(avatar): Refactor Avatar to use hooks
  package.json
  src/components/avatar/Avatar.js
  src/components/avatar/__tests__/Avatar-test.js
  yarn.lock
Owners: @box/ui-elements-extended

fix(avatar): remove redundant check
  package.json
  src/components/avatar/Avatar.js
Owners: @box/ui-elements-extended

fix(test): Fixed various test issues, downgraded enzyme back to 3.8.0
  package.json
  src/elements/content-sidebar/__tests__/ContentSidebar-test.js
  src/elements/content-sidebar/activity-feed/task-new/AssigneeStatus.js
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
  yarn.lock
Owners: @box/ui-elements-extended, @box/ui-elements

feat(icon): add new globe icon
  src/icons/general/IconGlobe2.js
  src/icons/general/IconGlobe2.md
  src/icons/general/__tests__/IconGlobe2-test.js
Owners: @box/ui-elements-extended

fix(menu): Menu should only autofocus on mount if visible
  examples/src/SubmenuWithBoundariesElementExample.js
  examples/src/index.js
  src/components/menu/Menu.js
  src/components/menu/Menu.md
Owners: @box/webapp, @box/ui-elements-extended

feat(tasks): Update task status to not use an icon (#1169)
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/TaskStatus.js
Owners: @box/ui-elements-extended, @box/ui-elements

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations (#1176)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

fix(menu): Menu should only autofocus on mount if visible (#1175)
  examples/src/SubmenuWithBoundariesElementExample.js
  examples/src/index.js
  src/components/menu/Menu.js
  src/components/menu/Menu.md
Owners: @box/webapp, @box/ui-elements-extended

refactor: Upgrade react and react-dom to v16.8 and refactor Avatar (#1171)
  package.json
  src/components/avatar/Avatar.js
  src/components/avatar/__tests__/Avatar-test.js
  src/elements/content-sidebar/__tests__/ContentSidebar-test.js
  src/elements/content-sidebar/activity-feed/task-new/AssigneeStatus.js
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
  yarn.lock
Owners: @box/ui-elements-extended, @box/ui-elements

chore(content-preview): Adding sanity e2e tests (#1127)
  test/integration/content-preview/ContentPreview.e2e.test.js
Owners: @box/webapp

fix(floatfield): always allow trailing period for float field
  src/features/metadata-instance-editor/fields/FloatField.js
  src/features/metadata-instance-editor/fields/__tests__/validateField-test.js
  src/features/metadata-instance-editor/fields/validateField.js
Owners: @box/ui-elements

fix(floatfield): always allow trailing period for float field (#1178)
  src/features/metadata-instance-editor/fields/FloatField.js
  src/features/metadata-instance-editor/fields/__tests__/validateField-test.js
  src/features/metadata-instance-editor/fields/validateField.js
Owners: @box/ui-elements

feat(icons): new lightning icon
  src/icons/two-toned/IconLightning.js
  src/icons/two-toned/README.md
  src/icons/two-toned/_IconLightning.mixins.scss
  src/icons/two-toned/__tests__/IconLightning-test.js
  src/icons/two-toned/__tests__/__snapshots__/IconLightning-test.js.snap
  yarn.lock
Owners: @box/ui-elements-extended

fix(list-view): move padding to parent app div
  src/features/list-view/styles/ListView.scss
Owners: @box/webapp

feat(icons): new lightning icon (#1183)
  src/icons/two-toned/IconLightning.js
  src/icons/two-toned/README.md
  src/icons/two-toned/_IconLightning.mixins.scss
  src/icons/two-toned/__tests__/IconLightning-test.js
  src/icons/two-toned/__tests__/__snapshots__/IconLightning-test.js.snap
  yarn.lock
Owners: @box/ui-elements-extended

chore: Add missed peer dependency updates
  package.json
Owners: @box/ui-elements-extended

refactor(deps): Upgrade peer dependencies to latest working versions
  conf/webpack.config.js
  examples/src/SelectorDropdownExamples.js
  package.json
  src/components/slide-carousel/README.md
  src/utils/MomentShim.js
  yarn.lock
Owners: @box/ui-elements-extended, @box/webapp

feat(versions): Add support for file version restore actions
  src/api/Versions.js
  src/api/__tests__/Versions-test.js
  src/constants.js
  src/elements/content-sidebar/versions/VersionsList.js
  src/elements/content-sidebar/versions/VersionsSidebar.js
  src/elements/content-sidebar/versions/VersionsSidebarContainer.js
  src/elements/content-sidebar/versions/__tests__/VersionsSidebarContainer-test.js
  src/elements/content-sidebar/versions/__tests__/__snapshots__/VersionsSidebarContainer-test.js.snap
Owners: @box/ui-elements, @box/ui-elements-extended

fix(text-input): looses focus when tooltip toggles
  src/components/text-input/README.md
  src/components/tooltip/Tooltip.js
  src/components/tooltip/__tests__/Tooltip-test.js
  src/components/tooltip/__tests__/__snapshots__/Tooltip-test.js.snap
Owners: @box/ui-elements-extended

fix(text-input): looses focus when tooltip toggles (#1185)
  src/components/text-input/README.md
  src/components/tooltip/Tooltip.js
  src/components/tooltip/__tests__/Tooltip-test.js
  src/components/tooltip/__tests__/__snapshots__/Tooltip-test.js.snap
Owners: @box/ui-elements-extended

refactor(deps): Upgrade peer dependencies to latest working versions (#1180)
  conf/webpack.config.js
  examples/src/SelectorDropdownExamples.js
  package.json
  src/components/slide-carousel/README.md
  src/utils/MomentShim.js
  yarn.lock
Owners: @box/ui-elements-extended, @box/webapp

revert(avatar): Move Avatar back to non-hook implementation
  src/components/avatar/Avatar.js
  src/components/avatar/__tests__/Avatar-test.js
Owners: @box/ui-elements-extended

revert(avatar): Move Avatar back to non-hook implementation (#1186)
  src/components/avatar/Avatar.js
  src/components/avatar/__tests__/Avatar-test.js
Owners: @box/ui-elements-extended
