Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations (#1157)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

fix(colors): add #eaeaea to neutral scale (#1159)
  src/elements/common/_variables.scss
  src/elements/content-sidebar/activity-feed/activity-feed/ActivityFeed.scss
  src/icons/badges/MetadataDefaultBadge.js
  src/icons/badges/__tests__/__snapshots__/MetadataDefaultBadge-test.js.snap
  src/icons/general/__tests__/__snapshots__/IconGridViewInverted-test.js.snap
  src/icons/general/__tests__/__snapshots__/IconHide-test.js.snap
  src/icons/general/__tests__/__snapshots__/IconShow-test.js.snap
  src/styles/_variables.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements, @box/ui-elements-extended

feat(badgeable): Pass down props to children
  src/components/badgeable/Badgeable.js
  src/components/badgeable/__tests__/Badgeable-test.js
Owners: @box/ui-elements-extended

feat(badgeable): Pass down props to children
  src/components/badgeable/Badgeable.js
  src/components/badgeable/__tests__/Badgeable-test.js
  src/components/badgeable/__tests__/__snapshots__/Badgeable-test.js.snap
Owners: @box/ui-elements-extended

fix(droppable): Bind drag drop handlers when wrapped element changes (#1155)
  src/elements/common/droppable/__tests__/makeDroppable-test.js
  src/elements/common/droppable/makeDroppable.js
Owners: @box/ui-elements

chore(versions): Respond to feedback and fix tests
  src/api/File.js
  src/api/__tests__/File-test.js
  src/elements/content-sidebar/Sidebar.js
  src/elements/content-sidebar/versions/VersionsItemActions.js
  src/elements/content-sidebar/versions/__tests__/VersionsItemActions-test.js
  src/utils/__tests__/fields-test.js
  src/utils/fields.js
Owners: @box/ui-elements, @box/ui-elements-extended

feat(tasks): show completion timestamp for task assignees
  flow-typed/box-ui-elements.js
  i18n/en-US.properties
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/comment/Comment.js
  src/elements/content-sidebar/activity-feed/comment/__tests__/__snapshots__/Comment-test.js.snap
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
Owners: @box/ui-elements-extended, @box/webapp, @box/ui-elements

refactor(tasks): date/tooltips
  i18n/en-US.properties
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/comment/Comment.js
  src/elements/content-sidebar/activity-feed/comment/__tests__/__snapshots__/Comment-test.js.snap
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
Owners: @box/webapp, @box/ui-elements, @box/ui-elements-extended

feat(tasks): show completion timestamp for task assignees (#1158)
  flow-typed/box-ui-elements.js
  i18n/en-US.properties
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/comment/Comment.js
  src/elements/content-sidebar/activity-feed/comment/__tests__/__snapshots__/Comment-test.js.snap
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
Owners: @box/ui-elements-extended, @box/webapp, @box/ui-elements

chore(versions): More unit tests
  src/api/__tests__/File-test.js
  src/elements/content-sidebar/versions/__tests__/VersionsSidebarContainer-test.js
Owners: @box/ui-elements

feat(tasks): Add status section to task card
  i18n/en-US.properties
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/task-new/Task.js
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/TaskStatus.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Task-test.js.snap
Owners: @box/webapp, @box/ui-elements, @box/ui-elements-extended

feat(tasks): Improve translation string
  i18n/en-US.properties
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/TaskStatus.js
Owners: @box/webapp, @box/ui-elements, @box/ui-elements-extended

build(release): Allow chore(i18n) commits to trigger new patch versions
  release.config.js
Owners: @box/ui-elements-extended

feat(tasks): Make selectors more specific
  i18n/en-US.properties
  src/elements/content-sidebar/activity-feed/task-new/Task.js
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/TaskStatus.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Task-test.js.snap
Owners: @box/webapp, @box/ui-elements-extended, @box/ui-elements

feat(tasks): Add status section to task card (#1161)
  i18n/en-US.properties
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/task-new/Task.js
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/TaskStatus.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Task-test.js.snap
Owners: @box/webapp, @box/ui-elements, @box/ui-elements-extended

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations (#1162)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

feat(tooltip): expose position instance API on tooltips
  src/components/radar/RadarAnimation.js
  src/components/radar/__tests__/RadarAnimation-test.js
  src/components/tooltip/Tooltip.js
  src/components/tooltip/__tests__/Tooltip-test.js
  src/components/tooltip/index.js
Owners: @box/ui-elements-extended

feat(tooltip): fix test and use defaultProps
  src/components/radar/RadarAnimation.js
  src/components/tooltip/index.js
Owners: @box/ui-elements-extended

feat(unified-share-modal): refactored suggested collab logic into a util
  flow-typed/box-ui-elements.js
  src/constants.js
  src/features/unified-share-modal/ContactsField.js
  src/features/unified-share-modal/EmailForm.js
  src/features/unified-share-modal/UnifiedShareModal.js
  src/features/unified-share-modal/__tests__/ContactsField-test.js
  src/features/unified-share-modal/__tests__/__snapshots__/ContactsField-test.js.snap
  src/features/unified-share-modal/constants.js
  src/features/unified-share-modal/flowTypes.js
  src/utils/SuggestedCollabs.js
  src/utils/__tests__/SuggestedCollabs-test.js
Owners: @box/ui-elements-extended, @box/webapp

feat(tooltip): update snapshots
  src/components/button/__tests__/__snapshots__/Button-test.js.snap
  src/components/menu/__tests__/__snapshots__/MenuItem-test.js.snap
Owners: @box/ui-elements-extended

feat(versions): Add support for file version downloads (#1151)
  flow-typed/box-ui-elements.js
  src/api/File.js
  src/api/__tests__/File-test.js
  src/elements/content-explorer/ContentExplorer.js
  src/elements/content-preview/ContentPreview.js
  src/elements/content-preview/preview-header/Header.scss
  src/elements/content-preview/preview-header/PreviewHeader.js
  src/elements/content-sidebar/Sidebar.js
  src/elements/content-sidebar/versions/VersionsItem.js
  src/elements/content-sidebar/versions/VersionsItemActions.js
  src/elements/content-sidebar/versions/VersionsList.js
  src/elements/content-sidebar/versions/VersionsList.scss
  src/elements/content-sidebar/versions/VersionsSidebar.js
  src/elements/content-sidebar/versions/VersionsSidebarContainer.js
  src/elements/content-sidebar/versions/__tests__/VersionsItemActions-test.js
  src/elements/content-sidebar/versions/__tests__/VersionsSidebarContainer-test.js
  src/elements/content-sidebar/versions/__tests__/__snapshots__/VersionsItem-test.js.snap
  src/elements/content-sidebar/versions/__tests__/__snapshots__/VersionsSidebarContainer-test.js.snap
  src/utils/__tests__/fields-test.js
  src/utils/fields.js
Owners: @box/ui-elements-extended, @box/ui-elements

build(release): Allow chore(i18n) commits to trigger new patch versions (#1163)
  release.config.js
Owners: @box/ui-elements-extended

feat(tooltip): expose position instance API on tooltips (#1164)
  src/components/button/__tests__/__snapshots__/Button-test.js.snap
  src/components/menu/__tests__/__snapshots__/MenuItem-test.js.snap
  src/components/radar/RadarAnimation.js
  src/components/radar/__tests__/RadarAnimation-test.js
  src/components/tooltip/Tooltip.js
  src/components/tooltip/__tests__/Tooltip-test.js
Owners: @box/ui-elements-extended

fix(pickers): improve responsiveness when using longer strings
  src/elements/common/empty-state/EmptyState.scss
  src/elements/content-picker/Footer.scss
  src/elements/content-picker/ItemList.js
Owners: @box/ui-elements

chore(pickers): Only use taller rows when picker isSmall
  src/elements/content-picker/ItemList.js
Owners: @box/ui-elements

chore(pickers): PR feedback
  src/elements/content-picker/Footer.scss
Owners: @box/ui-elements

chore(pickers): Prevent button text from being cut off
  src/elements/content-picker/Footer.scss
Owners: @box/ui-elements

chore(pickers): More feedback
  src/elements/content-picker/Footer.scss
Owners: @box/ui-elements

fix(pickers): prevent overflow caused by unneeded margin
  src/elements/content-picker/Footer.scss
Owners: @box/ui-elements

fix(pickers): Fix styles on IE
  src/elements/content-picker/Footer.scss
Owners: @box/ui-elements

feat(notifications): Add stroke/fill classes to NC states
  src/icons/states/NoNotificationState.js
  src/icons/states/NotificationErrorState.js
  src/icons/states/__tests__/__snapshots__/NoNotificationState-test.js.snap
  src/icons/states/__tests__/__snapshots__/NotificationErrorState-test.js.snap
Owners: @box/ui-elements-extended

feat(unified-share-modal): Reverting superfluous fuzzy search type check
  src/utils/__tests__/fuzzySearch-test.js
  src/utils/fuzzySearch.js
Owners: @box/ui-elements-extended

feat(notifications): Add stroke/fill classes to NC states (#1167)
  src/icons/states/NoNotificationState.js
  src/icons/states/NotificationErrorState.js
  src/icons/states/__tests__/__snapshots__/NoNotificationState-test.js.snap
  src/icons/states/__tests__/__snapshots__/NotificationErrorState-test.js.snap
Owners: @box/ui-elements-extended

feat(datetime): Add date converter from ISO8601 to RFC3339
  src/utils/__tests__/datetime-test.js
  src/utils/datetime.js
Owners: @box/ui-elements-extended

feat(datetime): Add date converter from ISO8601 to RFC3339 (#1160)
  src/utils/__tests__/datetime-test.js
  src/utils/datetime.js
Owners: @box/ui-elements-extended

chore(i18n): update translations
  i18n/ru-RU.properties
Owners: @box/webapp

chore(i18n): update translations (#1166)
  i18n/ru-RU.properties
Owners: @box/webapp

CODEOWNERS:

# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/conf/                                      @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Element Experiences
/src/elements/content-sidebar/activity-feed/task-new/ @box/ui-elements-extended @box/ui-elements
