Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

CODEOWNERS:

# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/conf/                                      @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Element Experiences
/src/elements/content-sidebar/activity-feed/task-new/ @box/ui-elements-extended @box/ui-elements

feat(app-recommendations): patch boxsquare and double arrow icons
  src/icons/general/IconBoxSquare.js
  src/icons/general/IconDoubleArrows.js
  src/icons/general/__tests__/IconBoxSquare-test.js
  src/icons/general/__tests__/IconDoubleArrows-test.js
  src/icons/general/__tests__/__snapshots__/IconDoubleArrows-test.js.snap
Owners: @box/ui-elements-extended

fix(sidebar): Details sidebar render no longer collapses on load (#1097)
  src/elements/content-sidebar/DetailsSidebar.js
  src/elements/content-sidebar/__tests__/DetailsSidebar-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/DetailsSidebar-test.js.snap
Owners: @box/ui-elements

fix(content-preview): Prevent refresh when leaving versions sidebar
  src/elements/content-preview/ContentPreview.js
  src/elements/content-preview/__tests__/ContentPreview-test.js
Owners: @box/ui-elements

fix(list-view): use smaller sort icon
  src/features/list-view/styles/ListView.scss
Owners: @box/webapp

fix: remove height/width style
  src/features/list-view/styles/ListView.scss
Owners: @box/webapp

feat(app-recommendations): patch boxsquare and double arrow icons (#1098)
  src/icons/general/IconBoxSquare.js
  src/icons/general/IconDoubleArrows.js
  src/icons/general/__tests__/IconBoxSquare-test.js
  src/icons/general/__tests__/IconDoubleArrows-test.js
  src/icons/general/__tests__/__snapshots__/IconDoubleArrows-test.js.snap
Owners: @box/ui-elements-extended

fix(content-preview): Prevent refresh when leaving versions sidebar
  src/elements/content-preview/ContentPreview.js
  src/elements/content-preview/__tests__/ContentPreview-test.js
Owners: @box/ui-elements

style(avatar): conform to if style from review comment
  src/elements/content-sidebar/activity-feed/Avatar.js
Owners: @box/ui-elements

feat(tasks): Add in-modal error handling for task creation
  i18n/en-US.properties
  src/api/Feed.js
  src/elements/common/messages.js
  src/elements/content-sidebar/ActivitySidebar.js
  src/elements/content-sidebar/AddTaskButton.js
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.js
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.scss
  src/elements/content-sidebar/activity-feed/task-form/__tests__/TaskForm-test.js
Owners: @box/webapp, @box/ui-elements

fix(list-view): use smaller sort icon (#1100)
  src/features/list-view/styles/ListView.scss
Owners: @box/webapp

fix(variables): update css variable scope, names
  src/components/avatar/Avatar.scss
  src/components/avatar/helpers.js
  src/styles/_variables.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements-extended

fix(avatar): revert some diffs
  src/components/avatar/AvatarImage.js
Owners: @box/ui-elements-extended

chore(avatar): use defaultProps for isPending
  src/components/avatar/Avatar.js
Owners: @box/ui-elements-extended

feat(content-preview): show versions header when previewing old version
  src/elements/content-explorer/README.md
  src/elements/content-preview/ContentPreview.js
  src/elements/content-preview/Header.js
  src/elements/content-preview/README.md
  src/elements/content-preview/preview-header/Header.js
  src/elements/content-preview/preview-header/Header.scss
  src/elements/content-preview/preview-header/PreviewHeaderComponent.js
  src/elements/content-preview/preview-header/VersionsHeader.js
  src/elements/content-preview/preview-header/index.js
Owners: @box/ui-elements

chore(content-preview): PR feedback
  src/elements/content-preview/ContentPreview.js
  src/elements/content-preview/README.md
  src/elements/content-preview/preview-header/FileInfo.js
  src/elements/content-preview/preview-header/Header.js
  src/elements/content-preview/preview-header/VersionsHeader.js
Owners: @box/ui-elements

chore(content-preview): PR feedback
  flow-typed/box-ui-elements.js
  src/api/Versions.js
  src/api/__tests__/Versions-test.js
  src/elements/content-preview/ContentPreview.js
  src/elements/content-preview/__tests__/ContentPreview-test.js
  src/elements/content-preview/preview-header/FileInfo.js
  src/elements/content-preview/preview-header/Header.js
  src/elements/content-preview/preview-header/Header.scss
  src/elements/content-preview/preview-header/PreviewHeader.js
  src/elements/content-preview/preview-header/PreviewHeaderComponent.js
  src/elements/content-preview/preview-header/VersionsHeader.js
  src/elements/content-preview/preview-header/index.js
  src/elements/content-sidebar/versions/VersionsSidebarContainer.js
  src/elements/content-sidebar/versions/__tests__/VersionsSidebarContainer-test.js
  src/utils/__tests__/fields-test.js
  src/utils/fields.js
Owners: @box/ui-elements-extended, @box/ui-elements

chore(content-preview): Update back button for versions header
  src/elements/content-preview/README.md
  src/elements/content-preview/preview-header/VersionsHeader.js
Owners: @box/ui-elements

chore(content-preview): More feedback
  src/elements/content-preview/ContentPreview.js
  src/elements/content-preview/preview-header/PreviewHeader.js
Owners: @box/ui-elements

fix(content-preview): Unit tests
  src/elements/content-preview/__tests__/ContentPreview-test.js
Owners: @box/ui-elements

fix(query-bar): persist changes after closing flyout
  src/features/query-bar/__tests__/FilterButton-test.js
  src/features/query-bar/components/filter/FilterButton.js
Owners: @box/webapp

fix(query-bar): rename constants
  src/features/query-bar/components/filter/FilterButton.js
Owners: @box/webapp

fix(query-bar): clean up logic and update test description
  src/features/query-bar/__tests__/FilterButton-test.js
  src/features/query-bar/components/filter/FilterButton.js
Owners: @box/webapp

fix(query-bar): persist changes after closing flyout (#1095)
  src/features/query-bar/__tests__/FilterButton-test.js
  src/features/query-bar/components/filter/FilterButton.js
Owners: @box/webapp

fix(content-preview): change version header close messaging + bug fix
  src/elements/content-preview/preview-header/Header.scss
  src/elements/content-preview/preview-header/PreviewHeader.js
Owners: @box/ui-elements

refactor(avatars): clean up conditional logic
  src/components/avatar/Avatar.js
  src/elements/content-sidebar/activity-feed/Avatar.js
Owners: @box/ui-elements-extended, @box/ui-elements

fix(content-preview): selection fix + PR feedback
  src/api/Versions.js
  src/elements/content-preview/ContentPreview.js
  src/elements/content-preview/preview-header/PreviewHeader.js
Owners: @box/ui-elements

chore(tests): update jest to allow indenting inline snaps
  package.json
  src/elements/content-sidebar/activity-feed/__tests__/Avatar-test.js
  yarn.lock
Owners: @box/ui-elements-extended, @box/ui-elements

fix(preview): Preview now expands to fill its flex parent when possible
  src/elements/content-preview/ContentPreview.scss
Owners: @box/ui-elements

feat(tasks): Fix e2e test and address comments
  i18n/en-US.properties
  src/elements/common/messages.js
  src/elements/content-sidebar/AddTaskButton.js
  test/integration/content-sidebar/TaskForm.e2e.test.js
Owners: @box/webapp, @box/ui-elements

fix(preview): Preview now expands to fill its flex parent when possible (#1102)
  src/elements/content-preview/ContentPreview.scss
Owners: @box/ui-elements

fix(content-preview): Correctly render when file is not yet present
  src/elements/content-preview/preview-header/FileInfo.js
  src/elements/content-preview/preview-header/PreviewHeader.js
Owners: @box/ui-elements

fix(details-sidebar): classification for collabs
  flow-typed/box-ui-elements.js
  src/api/Metadata.js
  src/api/__tests__/Metadata-test.js
  src/elements/content-sidebar/DetailsSidebar.js
  src/elements/content-sidebar/SidebarFileProperties.js
  src/elements/content-sidebar/__tests__/DetailsSidebar-test.js
  src/elements/content-sidebar/__tests__/SidebarFileProperties-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarFileProperties-test.js.snap
Owners: @box/ui-elements-extended, @box/ui-elements

fix(avatars): use new font-weight and colors
  src/components/avatar/Avatar.scss
  src/components/avatar/AvatarInitials.js
  src/components/avatar/__tests__/AvatarInitials-test.js
  src/styles/_variables.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements-extended

chore(content-preview): PR feedback
  src/elements/content-preview/preview-header/FileInfo.js
  src/elements/content-preview/preview-header/PreviewHeader.js
Owners: @box/ui-elements

fix(details-sidebar): classification for collabs (#1030)
  flow-typed/box-ui-elements.js
  src/api/Metadata.js
  src/api/__tests__/Metadata-test.js
  src/elements/content-sidebar/DetailsSidebar.js
  src/elements/content-sidebar/SidebarFileProperties.js
  src/elements/content-sidebar/__tests__/DetailsSidebar-test.js
  src/elements/content-sidebar/__tests__/SidebarFileProperties-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarFileProperties-test.js.snap
Owners: @box/ui-elements-extended, @box/ui-elements

fix(avatars): use new font-weight and colors (#1103)
  src/components/avatar/Avatar.scss
  src/components/avatar/AvatarInitials.js
  src/components/avatar/__tests__/AvatarInitials-test.js
  src/styles/_variables.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements-extended

feat(content-preview): show versions header when previewing old versions
  flow-typed/box-ui-elements.js
  src/api/Versions.js
  src/api/__tests__/Versions-test.js
  src/elements/content-explorer/README.md
  src/elements/content-preview/ContentPreview.js
  src/elements/content-preview/README.md
  src/elements/content-preview/__tests__/ContentPreview-test.js
  src/elements/content-preview/preview-header/FileInfo.js
  src/elements/content-preview/preview-header/Header.scss
  src/elements/content-preview/preview-header/PreviewHeader.js
  src/elements/content-preview/preview-header/index.js
  src/elements/content-sidebar/versions/VersionsSidebarContainer.js
  src/elements/content-sidebar/versions/__tests__/VersionsSidebarContainer-test.js
  src/utils/__tests__/fields-test.js
  src/utils/fields.js
Owners: @box/ui-elements-extended, @box/ui-elements

chore(cypress): update token and documentation
  conf/styleguide.setup.js
  src/elements/content-explorer/README.md
  test/integration/content-explorer/ContentExplorer.e2e.test.js
  test/integration/content-sidebar/ContentSidebar.e2e.test.js
  test/integration/content-sidebar/TaskForm.e2e.test.js
  test/support/constants.js
Owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

feat(tasks): update e2e test
  test/integration/content-sidebar/TaskForm.e2e.test.js
Owners: @box/webapp

feat(avatar): cache calls to get authenticated avatar urls
  src/api/Users.js
  src/api/__tests__/Users-test.js
Owners: @box/ui-elements
