Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

fix(sidebar): Show the selected class only when sidebar is open
  src/elements/common/nav-button/NavButton.js
  src/elements/common/nav-button/__tests__/NavButton-test.js
  src/elements/content-sidebar/Sidebar.js
  src/elements/content-sidebar/SidebarNav.js
  src/elements/content-sidebar/SidebarNavButton.js
  src/elements/content-sidebar/__tests__/SidebarNavButton-test.js
  test/integration/content-sidebar/ContentSidebar.e2e.test.js
Owners: @box/ui-elements, @box/webapp

feat(list-view): Removed blue outline, enabled header pointer
  i18n/en-US.properties
  src/features/list-view/ListView.js
  src/features/list-view/examples/ListViewExamples.js
  src/features/list-view/styles/ListView.scss
Owners: @box/webapp

chore(list-view): disable linter warning
  src/features/list-view/examples/ListViewExamples.js
Owners: @box/webapp

chore(list-view): fixed class names in unit test
  src/features/list-view/__tests__/ListView-test.js
Owners: @box/webapp

fix(sidebar): Show the selected class only when sidebar is open (#1141)
  src/elements/common/nav-button/NavButton.js
  src/elements/common/nav-button/__tests__/NavButton-test.js
  src/elements/content-sidebar/Sidebar.js
  src/elements/content-sidebar/SidebarNav.js
  src/elements/content-sidebar/SidebarNavButton.js
  src/elements/content-sidebar/__tests__/SidebarNavButton-test.js
  test/integration/content-sidebar/ContentSidebar.e2e.test.js
Owners: @box/ui-elements, @box/webapp

fix(list-view): add logger for styleguidist
  src/features/list-view/examples/ListViewExamples.js
Owners: @box/webapp

fix(list-view): remove outline for Grid cells
  src/features/list-view/styles/ListView.scss
Owners: @box/webapp

fix(list-view): rename classname and apply initial check for sortability
  src/features/list-view/ListView.js
Owners: @box/webapp

fix(list-view): make gridDataHash optional
  src/features/list-view/ListView.js
Owners: @box/webapp

fix(list-view): omit gridDataHash from props
  src/features/list-view/examples/ListViewExamples.js
Owners: @box/webapp

fix(list-view): show pointer on hover of metadata column header (#1143)
  src/features/list-view/ListView.js
  src/features/list-view/examples/ListViewExamples.js
  src/features/list-view/styles/ListView.scss
Owners: @box/webapp

fix(colors): deprecate coral color
  examples/colors.md
  examples/styles/ColorExamples.scss
  src/components/count-badge/CountBadge.scss
  src/styles/_variables.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/webapp, @box/ui-elements-extended

fix(avatar): swap coral out for gray, sort hues
  src/components/avatar/AvatarInitials.js
  src/components/avatar/__tests__/AvatarInitials-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Assignees-test.js.snap
Owners: @box/ui-elements-extended, @box/ui-elements

build(lint): Update @box/frontend for cypress and lodash lint rules
  package.json
  yarn.lock
Owners: @box/ui-elements-extended

fix(colors): deprecate "coral" color (#1146)
  examples/colors.md
  examples/styles/ColorExamples.scss
  src/components/avatar/AvatarInitials.js
  src/components/avatar/__tests__/AvatarInitials-test.js
  src/components/count-badge/CountBadge.scss
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Assignees-test.js.snap
  src/styles/_variables.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/webapp, @box/ui-elements-extended, @box/ui-elements

build(lint): Update @box/frontend for cypress and lodash lint rules (#1122)
  package.json
  yarn.lock
Owners: @box/ui-elements-extended

fix(sidebar): Separate match detection for selected and toggle values
  src/elements/content-sidebar/Sidebar.js
  src/elements/content-sidebar/SidebarNavButton.js
  src/elements/content-sidebar/__tests__/SidebarNavButton-test.js
Owners: @box/ui-elements

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations (#1148)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

feat(list-view): user sees edit icon on hover metadata column cells (#1132)
  src/features/list-view/ListView.js
  src/features/list-view/__tests__/ListView-test.js
  src/features/list-view/examples/ListViewExamples.js
  src/features/list-view/styles/ListView.scss
Owners: @box/webapp

fix(sidebar): Separate match detection for selected and toggle values (#1147)
  src/elements/content-sidebar/Sidebar.js
  src/elements/content-sidebar/SidebarNavButton.js
  src/elements/content-sidebar/__tests__/SidebarNavButton-test.js
Owners: @box/ui-elements

fix(query-bar): change representation of not equals in query bar (#1142)
  src/features/query-bar/__tests__/__snapshots__/Condition-test.js.snap
  src/features/query-bar/constants.js
Owners: @box/webapp

chore(content-preview): Adding sanity e2e tests
  test/integration/content-preview/ContentPreview.e2e.test.js
Owners: @box/webapp

chore(cypress): PR feedback
  test/integration/content-preview/ContentPreview.e2e.test.js
Owners: @box/webapp

chore(cypress): PR feedback
  test/integration/content-preview/ContentPreview.e2e.test.js
Owners: @box/webapp

feat(versions): Add support for file version downloads
  flow-typed/box-ui-elements.js
  src/api/File.js
  src/elements/content-explorer/ContentExplorer.js
  src/elements/content-preview/ContentPreview.js
  src/elements/content-preview/preview-header/Header.scss
  src/elements/content-preview/preview-header/PreviewHeader.js
  src/elements/content-sidebar/versions/VersionsList.js
  src/elements/content-sidebar/versions/VersionsList.scss
  src/elements/content-sidebar/versions/VersionsSidebar.js
  src/elements/content-sidebar/versions/VersionsSidebarContainer.js
  src/elements/content-sidebar/versions/__tests__/__snapshots__/VersionsSidebarContainer-test.js.snap
Owners: @box/ui-elements-extended, @box/ui-elements

fix(list-view): add styles for icon sort chevron
  src/features/list-view/styles/ListView.scss
Owners: @box/webapp

fix(tasks): Update copy in add tasks menu
  i18n/en-US.properties
  src/elements/common/messages.js
  src/elements/content-sidebar/__tests__/__snapshots__/AddTaskMenu-test.js.snap
Owners: @box/webapp, @box/ui-elements

fix(list-view): add styles for icon sort chevron (#1152)
  src/features/list-view/styles/ListView.scss
Owners: @box/webapp

fix(tasks): use presence of next page to compute overflow label
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/Assignees-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Assignees-test.js.snap
Owners: @box/ui-elements-extended, @box/ui-elements

fix(tasks): Update copy in add tasks menu (#1154)
  i18n/en-US.properties
  src/elements/common/messages.js
  src/elements/content-sidebar/__tests__/__snapshots__/AddTaskMenu-test.js.snap
Owners: @box/webapp, @box/ui-elements

feat(formik): sharable form elements to use with formik
  conf/styleguide.config.js
  flow-typed/npm/formik_vx.x.x.js
  package.json
  src/components/checkbox/Checkbox.js
  src/components/checkbox/CheckboxField.js
  src/components/checkbox/__tests__/CheckboxField-test.js
  src/components/checkbox/__tests__/__snapshots__/CheckboxField-test.js.snap
  src/components/checkbox/index.js
  src/components/form-elements/formik/README.md
  src/components/radio/RadioGroup.js
  src/components/radio/RadioGroupField.js
  src/components/radio/__tests__/RadioGroupField-test.js
  src/components/radio/__tests__/__snapshots__/RadioGroupField-test.js.snap
  src/components/radio/index.js
  src/components/select-field/SelectField.js
  src/components/select-field/__tests__/SelectField-test.js
  src/components/select-field/__tests__/__snapshots__/SelectField-test.js.snap
  src/components/select-field/index.js
  src/components/text-area/TextArea.js
  src/components/text-area/TextAreaField.js
  src/components/text-area/__tests__/TextAreaField-test.js
  src/components/text-area/__tests__/__snapshots__/TextAreaField-test.js.snap
  src/components/text-area/index.js
  src/components/text-input/TextInput.js
  src/components/text-input/TextInputField.js
  src/components/text-input/__tests__/TextInputField-test.js
  src/components/text-input/__tests__/__snapshots__/TextInputField-test.js.snap
  src/components/text-input/index.js
  src/components/toggle/Toggle.js
  src/components/toggle/ToggleField.js
  src/components/toggle/__tests__/ToggleField-test.js
  src/components/toggle/__tests__/__snapshots__/ToggleField-test.js.snap
  src/components/toggle/index.js
  yarn.lock
Owners: @box/ui-elements-extended

fix: review comments
  src/components/checkbox/__tests__/CheckboxField-test.js
  src/components/checkbox/__tests__/__snapshots__/CheckboxField-test.js.snap
  src/components/radio/__tests__/RadioGroupField-test.js
  src/components/select-field/SelectField.js
  src/components/text-area/TextArea.js
  src/components/text-area/TextAreaField.js
  src/components/text-area/__tests__/TextAreaField-test.js
  src/components/text-area/__tests__/__snapshots__/TextAreaField-test.js.snap
  src/components/text-input/TextInput.js
  src/components/text-input/TextInputField.js
  src/components/text-input/__tests__/TextInputField-test.js
  src/components/text-input/__tests__/__snapshots__/TextInputField-test.js.snap
  src/components/toggle/Toggle.js
  src/components/toggle/__tests__/ToggleField-test.js
  src/components/toggle/__tests__/__snapshots__/ToggleField-test.js.snap
Owners: @box/ui-elements-extended

fix(tasks): use presence of next page to compute overflow label (#1156)
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/Assignees-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Assignees-test.js.snap
Owners: @box/ui-elements-extended, @box/ui-elements

fix(droppable): Bind drag drop handlers when wrapped element changes
  src/elements/common/droppable/__tests__/makeDroppable-test.js
  src/elements/common/droppable/makeDroppable.js
Owners: @box/ui-elements

fix(droppable): spacing the unit tests
  src/elements/common/droppable/__tests__/makeDroppable-test.js
Owners: @box/ui-elements

fix(droppable): move removeEventListeners to componentDidUpdate
  src/elements/common/droppable/__tests__/makeDroppable-test.js
  src/elements/common/droppable/makeDroppable.js
Owners: @box/ui-elements

chore(versions): Add authenticated_download_url to item fields
  flow-typed/box-ui-elements.js
  src/api/File.js
  src/elements/content-explorer/ContentExplorer.js
  src/elements/content-sidebar/versions/VersionsItem.js
  src/elements/content-sidebar/versions/VersionsItemActions.js
  src/elements/content-sidebar/versions/VersionsSidebarContainer.js
  src/elements/content-sidebar/versions/__tests__/__snapshots__/VersionsItem-test.js.snap
  src/utils/fields.js
Owners: @box/ui-elements-extended, @box/ui-elements

feat(formik): shareable form elements to use with formik (#1149)
  conf/styleguide.config.js
  flow-typed/npm/formik_vx.x.x.js
  package.json
  src/components/checkbox/Checkbox.js
  src/components/checkbox/CheckboxField.js
  src/components/checkbox/__tests__/CheckboxField-test.js
  src/components/checkbox/__tests__/__snapshots__/CheckboxField-test.js.snap
  src/components/checkbox/index.js
  src/components/form-elements/formik/README.md
  src/components/radio/RadioGroup.js
  src/components/radio/RadioGroupField.js
  src/components/radio/__tests__/RadioGroupField-test.js
  src/components/radio/__tests__/__snapshots__/RadioGroupField-test.js.snap
  src/components/radio/index.js
  src/components/select-field/SelectField.js
  src/components/select-field/__tests__/SelectField-test.js
  src/components/select-field/__tests__/__snapshots__/SelectField-test.js.snap
  src/components/select-field/index.js
  src/components/text-area/TextArea.js
  src/components/text-area/TextAreaField.js
  src/components/text-area/__tests__/TextAreaField-test.js
  src/components/text-area/__tests__/__snapshots__/TextAreaField-test.js.snap
  src/components/text-area/index.js
  src/components/text-input/TextInput.js
  src/components/text-input/TextInputField.js
  src/components/text-input/__tests__/TextInputField-test.js
  src/components/text-input/__tests__/__snapshots__/TextInputField-test.js.snap
  src/components/text-input/index.js
  src/components/toggle/Toggle.js
  src/components/toggle/ToggleField.js
  src/components/toggle/__tests__/ToggleField-test.js
  src/components/toggle/__tests__/__snapshots__/ToggleField-test.js.snap
  src/components/toggle/index.js
  yarn.lock
Owners: @box/ui-elements-extended

fix(colors): add #eaeaea to neutral scale
  src/elements/common/_variables.scss
  src/elements/content-sidebar/activity-feed/activity-feed/ActivityFeed.scss
  src/icons/badges/MetadataDefaultBadge.js
  src/icons/badges/__tests__/__snapshots__/MetadataDefaultBadge-test.js.snap
  src/icons/general/__tests__/__snapshots__/IconGridViewInverted-test.js.snap
  src/icons/general/__tests__/__snapshots__/IconHide-test.js.snap
  src/icons/general/__tests__/__snapshots__/IconShow-test.js.snap
  src/styles/_variables.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements, @box/ui-elements-extended

CODEOWNERS:

# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/conf/                                      @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Element Experiences
/src/elements/content-sidebar/activity-feed/task-new/ @box/ui-elements-extended @box/ui-elements
