Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

CODEOWNERS:

# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/conf/                                      @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Element Experiences
/src/elements/content-sidebar/activity-feed/task-new/ @box/ui-elements-extended @box/ui-elements

feat(versions): Add support for file version restore actions (#1184)
  src/api/Versions.js
  src/api/__tests__/Versions-test.js
  src/constants.js
  src/elements/content-sidebar/versions/VersionsList.js
  src/elements/content-sidebar/versions/VersionsSidebar.js
  src/elements/content-sidebar/versions/VersionsSidebarContainer.js
  src/elements/content-sidebar/versions/__tests__/VersionsSidebarContainer-test.js
  src/elements/content-sidebar/versions/__tests__/__snapshots__/VersionsSidebarContainer-test.js.snap
Owners: @box/ui-elements, @box/ui-elements-extended

build: Disable perf hints and pikaday downcompile to avoid warnings
  conf/webpack.config.js
Owners: @box/ui-elements-extended

fix(query-bar): use isNaN to check valid date string / remove classname
  src/features/query-bar/components/filter/ValueField.js
Owners: @box/webapp

fix(metadataeditor): send cascadeId onRemove
  src/features/metadata-instance-editor/Instance.js
  src/features/metadata-instance-editor/__tests__/Instance-test.js
Owners: @box/ui-elements

fix(tasks): fix task issues
  i18n/en-US.properties
  src/common/messages.js
  src/elements/common/messages.js
  src/elements/content-sidebar/ActivitySidebar.js
  src/elements/content-sidebar/AddTaskButton.js
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.js
  src/icons/general/IconVerified.js
  test/integration/content-sidebar/TaskForm.e2e.test.js
Owners: @box/webapp, @box/ui-elements-extended, @box/ui-elements

fix(datetime): add missing support for times w/o ms
  src/utils/__tests__/datetime-test.js
  src/utils/datetime.js
Owners: @box/ui-elements-extended

fix(list-view): add test for error passed in to ValueField
  src/features/query-bar/__tests__/ValueField-test.js
Owners: @box/webapp

fix(datetime): add missing support for times w/o ms (#1191)
  src/utils/__tests__/datetime-test.js
  src/utils/datetime.js
Owners: @box/ui-elements-extended

fix(query-bar): rename formattedDate to date
  src/features/query-bar/components/filter/ValueField.js
Owners: @box/webapp

fix(tasks): fix task issues (#1189)
  i18n/en-US.properties
  src/common/messages.js
  src/elements/common/messages.js
  src/elements/content-sidebar/ActivitySidebar.js
  src/elements/content-sidebar/AddTaskButton.js
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.js
  src/icons/general/IconVerified.js
  test/integration/content-sidebar/TaskForm.e2e.test.js
Owners: @box/webapp, @box/ui-elements-extended, @box/ui-elements

build: Bump semantic-release to latest version
  package.json
  yarn.lock
Owners: @box/ui-elements-extended

fix(list-view): set iconSort width and height
  src/features/list-view/styles/ListView.scss
Owners: @box/webapp

build: Disable perf hints and pikaday downcompile to avoid warnings (#1187)
  conf/webpack.config.js
  package.json
  yarn.lock
Owners: @box/ui-elements-extended

fix(query-bar): set null instead of undefined
  src/features/query-bar/__tests__/ValueField-test.js
Owners: @box/webapp

feat: MOJI-720 & MOJI-827: add FormattedCompMessage component
  .eslintignore
  conf/jest/mocks/react-intl-mocks.js
  conf/styleguide.config.js
  package.json
  src/components/i18n/Composition.js
  src/components/i18n/FormattedCompMessage.js
  src/components/i18n/Param.js
  src/components/i18n/Plural.js
  src/components/i18n/README.md
  src/components/i18n/__tests__/Composition-test.js
  src/components/i18n/__tests__/FormattedCompMessage-tests.js
  src/components/i18n/__tests__/Param-tests.js
  src/components/i18n/__tests__/Plural-tests.js
  src/components/i18n/index.js
  src/features/quick-search/__tests__/__snapshots__/QuickSearchItem-test.js.snap
Owners: @box/ui-elements-extended, @box/webapp

feat: checkpoint commit
  src/components/i18n/Composition.js
  src/components/i18n/Param.js
  src/components/i18n/__tests__/FormattedCompMessage-tests.js
  src/components/i18n/__tests__/Param-tests.js
Owners: @box/ui-elements-extended

feat(i18n): use message-accumulator package to handle coded text
  package.json
  src/components/i18n/Composition.js
  src/components/i18n/FormattedCompMessage.js
  src/components/i18n/__tests__/Composition-test.js
  src/components/i18n/__tests__/Plural-tests.js
  yarn.lock
Owners: @box/ui-elements-extended

feat(i18n): all unit tests pass now
  src/components/i18n/Param.js
Owners: @box/ui-elements-extended

fix(i18n): fixed lint problems in the unit tests
  src/components/i18n/__tests__/FormattedCompMessage-tests.js
  src/components/i18n/__tests__/Param-tests.js
Owners: @box/ui-elements-extended

fix: Fix a unit test
  src/elements/content-sidebar/activity-feed/app-activity/__tests__/__snapshots__/AppActivity-test.js.snap
Owners: @box/ui-elements

fix(i18n): address Priyajeet's review comments
  package.json
  src/components/i18n/FormattedCompMessage.js
  src/components/i18n/Param.js
  src/components/i18n/__tests__/FormattedCompMessage-test.js
  src/components/i18n/__tests__/Param-test.js
  src/components/i18n/__tests__/Plural-test.js
  src/utils/__tests__/env-test.js
  src/utils/env.js
Owners: @box/ui-elements-extended

fix(i18n): Address Priyajeet's last comment
  src/components/i18n/Composition.js
  src/components/i18n/Param.js
  src/constants.js
Owners: @box/ui-elements-extended

feat(i18n): update styleguidist stuff for i18n
  conf/styleguide.config.js
  src/components/i18n/FormattedCompMessage.js
  src/components/i18n/Plural.js
  src/components/i18n/README.md
  src/components/i18n/index.js
Owners: @box/ui-elements-extended

fix(i18n): Updated documentation
  src/components/i18n/README.md
Owners: @box/ui-elements-extended

fix(i18n): Share the plural category names as constants
  src/components/i18n/FormattedCompMessage.js
  src/components/i18n/Plural.js
  src/constants.js
Owners: @box/ui-elements-extended

fix(i18n): Add new dependencies to the devDependencies too
  package.json
Owners: @box/ui-elements-extended

fix(i18n): Some safety code
  src/components/i18n/Composition.js
Owners: @box/ui-elements-extended

fix(i18n): Conform to eslint's religious beliefs
  src/components/i18n/Composition.js
Owners: @box/ui-elements-extended

fix(i18n): Fix a unit test
  src/elements/content-sidebar/versions/__tests__/__snapshots__/VersionsItemBadge-test.js.snap
Owners: @box/ui-elements

fix(i18n): Address the review comments from Jared and Alex
  src/components/i18n/Composition.js
  src/components/i18n/FormattedCompMessage.js
  src/components/i18n/Param.js
  src/components/i18n/Plural.js
  src/components/i18n/__tests__/FormattedCompMessage-test.js
  src/components/i18n/__tests__/Param-test.js
  src/components/i18n/__tests__/Plural-test.js
  src/components/i18n/__tests__/__snapshots__/FormattedCompMessage-test.js.snap
  src/components/i18n/constants.js
  src/constants.js
Owners: @box/ui-elements-extended

fix(i18n): fix unit test to work with new intl mock
  src/elements/content-sidebar/versions/__tests__/__snapshots__/VersionsItemBadge-test.js.snap
Owners: @box/ui-elements

fix(i18n): Fix the examples site, and fix flow problems
  src/components/i18n/FormattedCompMessage.js
  src/components/i18n/Plural.js
  src/components/i18n/README.md
Owners: @box/ui-elements-extended

fix(i18n): Address Jared's 2nd batch of review comments
  src/components/i18n/FormattedCompMessage.js
  src/components/i18n/Param.js
  src/utils/env.js
Owners: @box/ui-elements-extended

fix(i18n): Address PR comments from Jee & Jared
  src/components/i18n/Plural.js
Owners: @box/ui-elements-extended

fix(i18n): address Jared's final review comments
  src/components/i18n/__tests__/Composition-test.js
  src/components/i18n/__tests__/FormattedCompMessage-test.js
  src/utils/env.js
Owners: @box/ui-elements-extended

fix(i18n): fix the isDevEnvironment to work in browsers
  i18n/en-US.properties
  src/utils/env.js
Owners: @box/webapp, @box/ui-elements-extended

fix(query-bar): remove classname prop
  src/features/query-bar/components/filter/ValueField.js
Owners: @box/webapp

feat(inline-edit): user should see instance field input (#1172)
  src/features/list-view/styles/ListView.scss
  src/features/query-bar/__tests__/ValueField-test.js
  src/features/query-bar/components/filter/ValueField.js
Owners: @box/webapp

feat(i18n): Implement the new FormattedCompMessage component (#976)
  .eslintignore
  conf/jest/mocks/react-intl-mocks.js
  conf/styleguide.config.js
  i18n/en-US.properties
  package.json
  src/components/i18n/Composition.js
  src/components/i18n/FormattedCompMessage.js
  src/components/i18n/Param.js
  src/components/i18n/Plural.js
  src/components/i18n/README.md
  src/components/i18n/__tests__/Composition-test.js
  src/components/i18n/__tests__/FormattedCompMessage-test.js
  src/components/i18n/__tests__/Param-test.js
  src/components/i18n/__tests__/Plural-test.js
  src/components/i18n/__tests__/__snapshots__/FormattedCompMessage-test.js.snap
  src/components/i18n/constants.js
  src/components/i18n/index.js
  src/elements/content-sidebar/activity-feed/app-activity/__tests__/__snapshots__/AppActivity-test.js.snap
  src/elements/content-sidebar/versions/__tests__/__snapshots__/VersionsItemBadge-test.js.snap
  src/features/quick-search/__tests__/__snapshots__/QuickSearchItem-test.js.snap
  src/utils/__tests__/env-test.js
  src/utils/env.js
  yarn.lock
Owners: @box/ui-elements-extended, @box/webapp, @box/ui-elements

fix(metadata): template dropdown scrollbar issue in safari
  src/features/metadata-instance-editor/TemplateDropdown.scss
Owners: @box/ui-elements
