Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp, @box/collab

CODEOWNERS:

# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/features/metadata-based-view/          @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/.mergify.yml                               @box/ui-elements
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/scripts/                                   @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Features
/src/elements/content-sidebar/activity-feed/task-new/   @box/collab @box/ui-elements-extended
/src/elements/content-sidebar/activity-feed/task-form/  @box/collab @box/ui-elements-extended
/src/elements/content-sidebar/activity-feed/task/       @box/collab @box/ui-elements-extended
/src/elements/content-sidebar/activity-feed/comment/    @box/collab @box/ui-elements-extended
/src/api/tasks/                                         @box/collab @box/ui-elements-extended

fix(pillselectordropdown): support paste from context menu
  src/components/pill-selector-dropdown/PillSelectorDropdown.js
  src/components/pill-selector-dropdown/__tests__/PillSelectorDropdown-test.js
  src/features/unified-share-modal/UnifiedShareModal.js
Owners: @box/ui-elements-extended, @box/webapp

feat(avatarinitials): moved avatar colors into _theme.scss
  src/components/avatar/Avatar.scss
  src/components/avatar/AvatarInitials.js
  src/styles/_variables.scss
  src/styles/constants/_themes.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements-extended

fix(pillselectordropdown): address CR comments
  src/components/pill-selector-dropdown/PillSelectorDropdown.js
  src/components/pill-selector-dropdown/__tests__/PillSelectorDropdown-test.js
  src/features/unified-share-modal/UnifiedShareModal.js
Owners: @box/ui-elements-extended, @box/webapp

fix(pillselectordropdown): support paste from context menu (#1597)
  src/components/pill-selector-dropdown/PillSelectorDropdown.js
  src/components/pill-selector-dropdown/__tests__/PillSelectorDropdown-test.js
Owners: @box/ui-elements-extended

feat(avatarinitials): parse sass lists when compiling constants files
  scripts/build-style-vars.js
  src/components/avatar/AvatarInitials.js
  src/styles/constants/_themes.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements-extended

feat(avatarinitials): remove unused sass variable
  src/components/avatar/Avatar.scss
Owners: @box/ui-elements-extended

build(buildstylevars): readded line
  scripts/build-style-vars.js
Owners: @box/ui-elements-extended

style(avatar): readded removed line
  src/components/avatar/Avatar.scss
Owners: @box/ui-elements-extended

feat(avatarinitials): move backgroundColor into scss (#1585)
  scripts/build-style-vars.js
  src/components/avatar/Avatar.scss
  src/components/avatar/AvatarInitials.js
  src/components/avatar/__tests__/AvatarInitials-test.js
  src/styles/_variables.scss
  src/styles/constants/_themes.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements-extended

fix(uploads): reset item error after retry
  src/elements/content-uploader/ContentUploader.js
Owners: @box/ui-elements

fix: additional unit test for resetFile
  src/elements/content-uploader/__tests__/ContentUploader-test.js
Owners: @box/ui-elements

fix(uploads): reset item error after retry (#1600)
  src/elements/content-uploader/ContentUploader.js
  src/elements/content-uploader/__tests__/ContentUploader-test.js
Owners: @box/ui-elements

chore(flow): add strict mode config (#1596)
  .flowconfig
  src/elements/common/feature-checking/withFeatureProvider.js
  src/elements/common/interactionTargets.js
  src/elements/content-sidebar/activity-feed/task-new/AssigneeList.js
Owners: @box/ui-elements-extended, @box/ui-elements, @box/collab

feat(metadata): Enable metadata template filtering
  examples/src/MetadataExamples.js
  flow-typed/box-ui-elements.js
  src/elements/content-sidebar/MetadataSidebar.js
  src/elements/content-sidebar/README.md
  src/elements/content-sidebar/__tests__/MetadataSidebar-test.js
  src/features/metadata-instance-editor/Header.js
  src/features/metadata-instance-editor/Instance.js
  src/features/metadata-instance-editor/Instances.js
  src/features/metadata-instance-editor/MetadataInstanceEditor.js
  src/features/metadata-instance-editor/TemplatedInstance.js
  src/features/metadata-instance-editor/__tests__/Instance-test.js
  src/features/metadata-instance-editor/__tests__/Instances-test.js
  src/features/metadata-instance-editor/__tests__/MetadataInstanceEditor-test.js
  src/features/metadata-instance-editor/__tests__/TemplatedInstance-test.js
  src/features/metadata-instance-editor/__tests__/__snapshots__/Instance-test.js.snap
  src/features/metadata-instance-editor/__tests__/__snapshots__/Instances-test.js.snap
  src/features/metadata-instance-editor/__tests__/__snapshots__/TemplatedInstance-test.js.snap
  src/features/metadata-instance-editor/__tests__/metadataUtil-test.js
  src/features/metadata-instance-editor/metadataUtil.js
Owners: @box/webapp, @box/ui-elements-extended, @box/ui-elements

feat(metadata): Enable metadata template filtering
  examples/src/MetadataExamples.js
  src/elements/content-sidebar/MetadataSidebar.js
  src/elements/content-sidebar/README.md
  src/elements/content-sidebar/__tests__/MetadataSidebar-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/MetadataSidebar-test.js.snap
  src/features/metadata-instance-editor/Instance.js
  src/features/metadata-instance-editor/Instances.js
  src/features/metadata-instance-editor/MetadataInstanceEditor.js
  src/features/metadata-instance-editor/TemplatedInstance.js
  src/features/metadata-instance-editor/__tests__/Instance-test.js
  src/features/metadata-instance-editor/__tests__/Instances-test.js
  src/features/metadata-instance-editor/__tests__/MetadataInstanceEditor-test.js
  src/features/metadata-instance-editor/__tests__/TemplatedInstance-test.js
  src/features/metadata-instance-editor/__tests__/metadataUtil-test.js
  src/features/metadata-instance-editor/metadataUtil.js
Owners: @box/webapp, @box/ui-elements

feat(metadata): Enable metadata template filtering
  src/features/metadata-instance-editor/TemplatedInstance.js
Owners: @box/ui-elements

feat(metadata): Enable metadata template filtering
  src/features/metadata-instance-editor/__tests__/metadataUtil-test.js
  src/features/metadata-instance-editor/metadataUtil.js
Owners: @box/ui-elements

fix(user-link): allow wrapping of long user names
  src/elements/content-sidebar/activity-feed/common/user-link/UserLink.scss
Owners: @box/ui-elements

fix(user-link): allow wrapping of long user names (#1602)
  src/elements/content-sidebar/activity-feed/common/user-link/UserLink.scss
Owners: @box/ui-elements

fix(tasks): prevent task modal closes upon resizing
  src/elements/content-sidebar/ActivitySidebar.js
  src/elements/content-sidebar/AddTaskButton.js
  src/elements/content-sidebar/__tests__/__snapshots__/ActivitySidebar-test.js.snap
Owners: @box/ui-elements

feat(metadata): Enable metadata template filtering
  src/features/metadata-instance-editor/metadataUtil.js
Owners: @box/ui-elements

feat(metadata): Enable metadata template filtering
  src/elements/content-sidebar/MetadataSidebar.js
  src/elements/content-sidebar/__tests__/__snapshots__/MetadataSidebar-test.js.snap
Owners: @box/ui-elements

feat(metadata): Enable metadata template filtering (#1598)
  examples/src/MetadataExamples.js
  src/elements/content-sidebar/MetadataSidebar.js
  src/elements/content-sidebar/README.md
  src/elements/content-sidebar/__tests__/MetadataSidebar-test.js
  src/features/metadata-instance-editor/Header.js
  src/features/metadata-instance-editor/Instance.js
  src/features/metadata-instance-editor/Instances.js
  src/features/metadata-instance-editor/MetadataInstanceEditor.js
  src/features/metadata-instance-editor/README.md
  src/features/metadata-instance-editor/TemplatedInstance.js
  src/features/metadata-instance-editor/__tests__/Instances-test.js
  src/features/metadata-instance-editor/__tests__/MetadataInstanceEditor-test.js
  src/features/metadata-instance-editor/__tests__/metadataUtil-test.js
  src/features/metadata-instance-editor/metadataUtil.js
Owners: @box/webapp, @box/ui-elements

fix(tasks): prevent task modal closes upon resizing
  src/constants.js
  src/elements/content-sidebar/ActivitySidebar.js
  src/elements/content-sidebar/AddTaskButton.js
  src/elements/content-sidebar/Sidebar.js
  src/elements/content-sidebar/__tests__/Sidebar-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/ActivitySidebar-test.js.snap
Owners: @box/ui-elements-extended, @box/ui-elements
