Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

fix(metadata): template dropdown scrollbar issue in safari (#1192)
  src/features/metadata-instance-editor/TemplateDropdown.scss
Owners: @box/ui-elements

fix(versions): Retrieve and use file version permissions for actions
  flow-typed/box-ui-elements.js
  src/api/Versions.js
  src/elements/content-sidebar/versions/VersionsItem.js
  src/elements/content-sidebar/versions/VersionsItemActions.js
  src/elements/content-sidebar/versions/VersionsList.js
  src/elements/content-sidebar/versions/VersionsSidebar.js
  src/elements/content-sidebar/versions/VersionsSidebarContainer.js
  src/elements/content-sidebar/versions/__tests__/VersionsItem-test.js
  src/elements/content-sidebar/versions/__tests__/VersionsSidebarContainer-test.js
  src/elements/content-sidebar/versions/__tests__/__snapshots__/VersionsSidebarContainer-test.js.snap
  src/utils/__tests__/fields-test.js
  src/utils/fields.js
Owners: @box/ui-elements-extended, @box/ui-elements

chore(versions): Add unit tests for new API methods
  i18n/en-US.properties
  src/api/Versions.js
  src/api/__tests__/Versions-test.js
Owners: @box/webapp, @box/ui-elements

fix(unified-share-modal): add constraints to modal menus
  i18n/en-US.properties
  src/features/unified-share-modal/InviteePermissionsMenu.js
  src/features/unified-share-modal/SharedLinkAccessMenu.js
  src/features/unified-share-modal/SharedLinkPermissionMenu.js
  src/features/unified-share-modal/__tests__/__snapshots__/SharedLinkAccessMenu-test.js.snap
  src/features/unified-share-modal/__tests__/__snapshots__/SharedLinkPermissionMenu-test.js.snap
Owners: @box/webapp

fix(versions): Retrieve and use file version permissions for actions (#1193)
  flow-typed/box-ui-elements.js
  i18n/en-US.properties
  src/api/Versions.js
  src/api/__tests__/Versions-test.js
  src/elements/content-sidebar/versions/VersionsItem.js
  src/elements/content-sidebar/versions/VersionsItemActions.js
  src/elements/content-sidebar/versions/VersionsList.js
  src/elements/content-sidebar/versions/VersionsSidebar.js
  src/elements/content-sidebar/versions/VersionsSidebarContainer.js
  src/elements/content-sidebar/versions/__tests__/VersionsItem-test.js
  src/elements/content-sidebar/versions/__tests__/VersionsSidebarContainer-test.js
  src/elements/content-sidebar/versions/__tests__/__snapshots__/VersionsSidebarContainer-test.js.snap
  src/utils/__tests__/fields-test.js
  src/utils/fields.js
Owners: @box/ui-elements-extended, @box/webapp, @box/ui-elements

feat(api): add retryable status codes option
  src/api/TaskAssignments.js
  src/api/TaskCollaborators.js
  src/api/TaskLinks.js
  src/api/Tasks.js
  src/api/TasksNew.js
  src/constants.js
  src/utils/Xhr.js
  src/utils/__tests__/Xhr-test.js
Owners: @box/ui-elements, @box/ui-elements-extended

test(xhr): refactor test cases into table format
  src/utils/__tests__/Xhr-test.js
Owners: @box/ui-elements-extended

fix(xhr): add request method check to retry logic
  src/utils/Xhr.js
  src/utils/__tests__/Xhr-test.js
Owners: @box/ui-elements-extended

fix(xhr): lowercase api methods
  src/utils/Xhr.js
  src/utils/__tests__/Xhr-test.js
Owners: @box/ui-elements-extended

fix(xhr): read axios error config for http method
  src/utils/Xhr.js
  src/utils/__tests__/Xhr-test.js
Owners: @box/ui-elements-extended

fix(xhr): must pass xhr opts in api constructors
  src/api/TaskAssignments.js
  src/api/TaskCollaborators.js
  src/api/TaskLinks.js
  src/api/Tasks.js
  src/api/TasksNew.js
Owners: @box/ui-elements

fix(xhr): flow types
  flow-typed/box-ui-elements.js
  src/api/TaskAssignments.js
  src/api/TaskCollaborators.js
  src/api/TaskLinks.js
  src/api/Tasks.js
  src/api/TasksNew.js
Owners: @box/ui-elements-extended, @box/ui-elements

refactor(tasks): extract task api base class
  src/api/APIFactory.js
  src/api/Feed.js
  src/api/__tests__/APIFactory-test.js
  src/api/__tests__/Feed-test.js
  src/api/tasks/TaskAssignments.js
  src/api/tasks/TaskCollaborators.js
  src/api/tasks/TaskLinks.js
  src/api/tasks/Tasks.js
  src/api/tasks/TasksBase.js
  src/api/tasks/TasksNew.js
  src/api/tasks/__tests__/TaskAssignments-test.js
  src/api/tasks/__tests__/TaskCollaborators-test.js
  src/api/tasks/__tests__/TaskLinks-test.js
  src/api/tasks/__tests__/Tasks-test.js
  src/api/tasks/__tests__/TasksNew-test.js
Owners: @box/ui-elements

refactor(tasks): extract constant, use lodash
  src/utils/Xhr.js
Owners: @box/ui-elements-extended

Tasks/retry 5xx (#1195)
  flow-typed/box-ui-elements.js
  src/api/APIFactory.js
  src/api/Feed.js
  src/api/__tests__/APIFactory-test.js
  src/api/__tests__/Feed-test.js
  src/api/tasks/TaskAssignments.js
  src/api/tasks/TaskCollaborators.js
  src/api/tasks/TaskLinks.js
  src/api/tasks/Tasks.js
  src/api/tasks/TasksBase.js
  src/api/tasks/TasksNew.js
  src/api/tasks/__tests__/TaskAssignments-test.js
  src/api/tasks/__tests__/TaskCollaborators-test.js
  src/api/tasks/__tests__/TaskLinks-test.js
  src/api/tasks/__tests__/Tasks-test.js
  src/api/tasks/__tests__/TasksNew-test.js
  src/constants.js
  src/utils/Xhr.js
  src/utils/__tests__/Xhr-test.js
Owners: @box/ui-elements-extended, @box/ui-elements

fix(unified-share-modal): add constraints to modal menus (#1196)
  src/features/unified-share-modal/InviteePermissionsMenu.js
  src/features/unified-share-modal/SharedLinkAccessMenu.js
  src/features/unified-share-modal/SharedLinkPermissionMenu.js
  src/features/unified-share-modal/__tests__/__snapshots__/SharedLinkAccessMenu-test.js.snap
  src/features/unified-share-modal/__tests__/__snapshots__/SharedLinkPermissionMenu-test.js.snap
Owners: @box/webapp

fix(versions): Update versions restore call to match latest contract
  src/api/Versions.js
  src/api/__tests__/Versions-test.js
Owners: @box/ui-elements

fix(i18n): Param and Plural should not be in the styleguide.conf
  conf/styleguide.config.js
Owners: @box/ui-elements-extended

fix(i18n): Param and Plural should not be in the styleguide.conf (#1197)
  conf/styleguide.config.js
Owners: @box/ui-elements-extended

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations (#1188)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

fix(versions): Update versions restore call to match latest contract (#1198)
  src/api/Versions.js
  src/api/__tests__/Versions-test.js
Owners: @box/ui-elements

feat(scroll): upgrade scroll in to view if needed
  examples/src/SelectorDropdownExamples.js
  package.json
  src/features/metadata-instance-editor/Instance.js
  src/utils/__tests__/dom-test.js
  src/utils/dom.js
  yarn.lock
Owners: @box/webapp, @box/ui-elements-extended, @box/ui-elements

feat(scroll): upgrade scroll in to view if needed
  src/utils/__tests__/dom-test.js
  src/utils/dom.js
Owners: @box/ui-elements-extended

feat(scroll): upgrade scroll in to view if needed
  examples/src/SelectorDropdownExamples.js
  src/features/metadata-instance-editor/Instance.js
  src/utils/dom.js
Owners: @box/webapp, @box/ui-elements, @box/ui-elements-extended

chore(i18n): update translations
  i18n/ja-JP.properties
Owners: @box/webapp

feat(scroll): upgrade scroll in to view if needed
  package.json
  src/features/metadata-instance-editor/Instance.js
  yarn.lock
Owners: @box/ui-elements-extended, @box/ui-elements

chore(i18n): update translations
  i18n/ja-JP.properties
Owners: @box/webapp

feat(scroll): upgrade scroll in to view if needed (#1200)
  package.json
  src/features/metadata-instance-editor/Instance.js
  src/utils/__tests__/dom-test.js
  src/utils/dom.js
  yarn.lock
Owners: @box/ui-elements-extended, @box/ui-elements

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations (#1202)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

fix: typo
  src/components/pill-selector-dropdown/PillSelectorDropdownField.js
Owners: @box/ui-elements-extended

fix: CR comments, composition fix
  src/components/pill-cloud/PillCloud.js
  src/components/pill-selector-dropdown/PillSelector.js
  src/components/pill-selector-dropdown/PillSelectorDropdown.js
  src/components/pill-selector-dropdown/PillSelectorDropdownField.js
  src/components/pill-selector-dropdown/flowTypes.js
Owners: @box/ui-elements-extended

feat: Updates
  src/components/form-elements/formik/README.md
  src/components/pill-cloud/PillCloud.js
  src/components/pill-cloud/README.md
  src/components/pill-cloud/__tests__/PillCloud-test.js
  src/components/pill-cloud/__tests__/__snapshots__/PillCloud-test.js.snap
  src/components/pill-selector-dropdown/PillSelector.js
  src/components/pill-selector-dropdown/PillSelectorDropdown.js
  src/components/pill-selector-dropdown/PillSelectorDropdownField.js
  src/components/pill-selector-dropdown/README.md
  src/components/pill-selector-dropdown/__tests__/Pill-test.js
  src/components/pill-selector-dropdown/__tests__/PillSelector-test.js
  src/components/pill-selector-dropdown/__tests__/PillSelectorDropdown-test.js
  src/components/pill-selector-dropdown/__tests__/__snapshots__/Pill-test.js.snap
  src/components/pill-selector-dropdown/__tests__/__snapshots__/PillSelectorDropdown-test.js.snap
  src/components/pill-selector-dropdown/__tests__/__snapshots__/defaultDropdownRenderer-test.js.snap
  src/components/pill-selector-dropdown/__tests__/defaultDropdownFilter-test.js
  src/components/pill-selector-dropdown/__tests__/defaultDropdownRenderer-test.js
  src/components/pill-selector-dropdown/defaultDropdownFilter.js
  src/components/pill-selector-dropdown/defaultDropdownRenderer.js
  src/components/pill-selector-dropdown/flowTypes.js
  src/elements/content-sidebar/skills/keywords/__tests__/__snapshots__/EditableKeywords-test.js.snap
  src/elements/content-sidebar/skills/keywords/__tests__/__snapshots__/ReadOnlyKeywords-test.js.snap
  src/elements/content-sidebar/skills/keywords/__tests__/keywordUtil-test.js
  src/elements/content-sidebar/skills/keywords/flowTypes.js
  src/elements/content-sidebar/skills/keywords/keywordUtils.js
  src/features/invite-collaborators-modal/__tests__/__snapshots__/InviteCollaboratorsModal-test.js.snap
  src/features/unified-share-modal/__tests__/__snapshots__/ContactsField-test.js.snap
Owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

feat(pill-selector): formik wrapper for pill selector
  src/components/form-elements/formik/README.md
  src/components/pill-cloud/PillCloud.js
  src/components/pill-selector-dropdown/Pill.js
  src/components/pill-selector-dropdown/PillSelector.js
  src/components/pill-selector-dropdown/PillSelectorDropdown.js
  src/components/pill-selector-dropdown/PillSelectorDropdownField.js
  src/components/pill-selector-dropdown/flowTypes.js
  src/components/pill-selector-dropdown/index.js
  src/styles/common/_pills.scss
Owners: @box/ui-elements-extended

fix: tests and review comments
  src/components/form-elements/formik/README.md
  src/components/pill-selector-dropdown/PillSelectorDropdown.js
  src/components/pill-selector-dropdown/PillSelectorDropdownField.js
  src/components/pill-selector-dropdown/README.md
  src/components/pill-selector-dropdown/__tests__/PillSelectorDropdown-test.js
  src/components/pill-selector-dropdown/__tests__/PillSelectorDropdownField-test.js
  src/components/pill-selector-dropdown/__tests__/__snapshots__/PillSelectorDropdownField-test.js.snap
  src/features/invite-collaborators-modal/__tests__/__snapshots__/InviteCollaboratorsModal-test.js.snap
  src/features/unified-share-modal/__tests__/__snapshots__/ContactsField-test.js.snap
Owners: @box/ui-elements-extended, @box/webapp

feat(radio): formik wrapper for RadioButton
  src/components/checkbox/CheckboxField.js
  src/components/form-elements/formik/README.md
  src/components/radio/RadioButton.js
  src/components/radio/RadioButtonField.js
  src/components/radio/__tests__/RadioButtonField-test.js
  src/components/radio/__tests__/__snapshots__/RadioButtonField-test.js.snap
  src/components/radio/index.js
  src/components/toggle/ToggleField.js
Owners: @box/ui-elements-extended

chore(i18n): update translations
  i18n/ja-JP.properties
Owners: @box/webapp

feat(left-nav): add Box Relay icon
  src/features/left-sidebar/LeftSidebar.md
  src/features/left-sidebar/icons/IconBoxRelay.js
  src/features/left-sidebar/icons/IconBoxRelay.md
  src/features/left-sidebar/icons/__tests__/__snapshots__/left-sidebar-icons-test.js.snap
  src/features/left-sidebar/icons/__tests__/left-sidebar-icons-test.js
Owners: @box/webapp

chore(i18n): update translations
  i18n/ja-JP.properties
Owners: @box/webapp

CODEOWNERS:

# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/conf/                                      @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Element Experiences
/src/elements/content-sidebar/activity-feed/task-new/ @box/ui-elements-extended @box/ui-elements
