Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

CODEOWNERS:

# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/conf/                                      @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Element Experiences
/src/elements/content-sidebar/activity-feed/task-new/ @box/ui-elements-extended @box/ui-elements

feat(icons): add icons for collections (#1224)
  conf/styleguide.config.js
  src/icons/collections/IconCollections.js
  src/icons/collections/IconCollectionsAdd.js
  src/icons/collections/IconCollectionsFilled.js
  src/icons/collections/README.md
  src/icons/collections/__tests__/IconCollections-test.js
  src/icons/collections/__tests__/IconCollectionsAdd-test.js
  src/icons/collections/__tests__/IconCollectionsFilled-test.js
  src/icons/collections/__tests__/__snapshots__/IconCollections-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsAdd-test.js.snap
  src/icons/collections/__tests__/__snapshots__/IconCollectionsFilled-test.js.snap
Owners: @box/ui-elements-extended

chore: remove commented code
  src/features/item-details/ItemProperties.js
Owners: @box/ui-elements

chore: rename retry function
  src/elements/common/async-load/AsyncLoad.js
Owners: @box/ui-elements

fix(security): Upgrade axios to address security vulnerability (#1228)
  package.json
  yarn.lock
Owners: @box/ui-elements-extended

fix(item-properties): Add aria-labelledby to description textarea (#1229)
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarFileProperties-test.js.snap
  src/features/item-details/ItemProperties.js
  src/features/item-details/__tests__/__snapshots__/ItemProperties-test.js.snap
Owners: @box/ui-elements

perf(sidebar): Lazy load sidebar panels without 500ms delay (#1223)
  src/elements/common/async-load/AsyncLoad.js
Owners: @box/ui-elements

fix: pass down title from ContactsField if email length is long
  src/components/datalist-item/DatalistItem.js
  src/features/unified-share-modal/ContactsField.js
  src/features/unified-share-modal/__tests__/ContactsField-test.js
  src/features/unified-share-modal/__tests__/__snapshots__/ContactsField-test.js.snap
Owners: @box/ui-elements-extended, @box/webapp

fix(icons): fill in background for globe icon (#1226)
  src/icons/general/IconGlobe.js
  src/icons/general/__tests__/IconGlobe-test.js
Owners: @box/ui-elements-extended

feat(select): make select caret rotate on drop down open/close
  src/components/collapsible/Collapsible.scss
  src/elements/content-sidebar/SidebarSection.scss
  src/styles/common/_forms.scss
Owners: @box/ui-elements-extended, @box/ui-elements

fix: flow issue with email
  src/features/unified-share-modal/ContactsField.js
Owners: @box/webapp

fix: use common variable for transition duration
  src/components/collapsible/Collapsible.scss
  src/components/dropdown-menu/MenuToggle.scss
  src/elements/content-sidebar/SidebarSection.scss
  src/styles/_variables.scss
  src/styles/common/_forms.scss
  src/styles/common/_tables.scss
Owners: @box/ui-elements-extended, @box/ui-elements

fix: use the same contact object for a long email
  src/features/unified-share-modal/__tests__/ContactsField-test.js
  src/features/unified-share-modal/__tests__/__snapshots__/ContactsField-test.js.snap
Owners: @box/webapp

feat(icons): update IconShare and IconCollaboration to new 32x32 icons
  src/icons/general/IconCollaboration.js
  src/icons/general/IconShare.js
  src/icons/general/__tests__/__snapshots__/IconCollaboration-test.js.snap
  src/icons/general/__tests__/__snapshots__/IconShare-test.js.snap
Owners: @box/ui-elements-extended

fix(icons): use new bdl classnaming
  src/icons/general/IconCollaboration.js
  src/icons/general/IconShare.js
  src/icons/general/__tests__/__snapshots__/IconCollaboration-test.js.snap
  src/icons/general/__tests__/__snapshots__/IconShare-test.js.snap
Owners: @box/ui-elements-extended

fix: Issue fixed. Still directly modifying state
  src/elements/content-explorer/ContentExplorer.js
Owners: @box/ui-elements

feat(icons): update IconShare and IconCollaboration to new 32x32 icons (#1232)
  src/icons/general/IconCollaboration.js
  src/icons/general/IconShare.js
  src/icons/general/__tests__/__snapshots__/IconCollaboration-test.js.snap
  src/icons/general/__tests__/__snapshots__/IconShare-test.js.snap
Owners: @box/ui-elements-extended

fix: rows not stuck after closing modal
  src/elements/content-explorer/ContentExplorer.js
Owners: @box/ui-elements

fix: Issue fixed. Still directly modifying state
  src/elements/content-explorer/ContentExplorer.js
Owners: @box/ui-elements

fix: rows not stuck after closing modal
  src/elements/content-explorer/ContentExplorer.js
Owners: @box/ui-elements

refactor(tasks-new): extract task assignee avatars
  src/elements/content-sidebar/activity-feed/task-new/AssigneeAvatar.js
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
  src/elements/content-sidebar/activity-feed/task-new/AvatarGroup.js
  src/elements/content-sidebar/activity-feed/task-new/AvatarGroup.scss
  src/elements/content-sidebar/activity-feed/task-new/Task.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/AvatarGroup-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Task-test.js.snap
Owners: @box/ui-elements-extended, @box/ui-elements

refactor(tasks-new): extract task assignee avatars
  src/elements/content-sidebar/activity-feed/task-new/AvatarGroup.scss
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/_mixins.scss
Owners: @box/ui-elements-extended, @box/ui-elements

feat(classification): new badge and layout
  conf/styleguide.config.js
  src/features/classification/Classification.js
  src/features/classification/Classification.scss
  src/features/classification/ClassificationBadge.js
  src/features/classification/ClassificationProperty.js
  src/features/classification/README.md
  src/features/classification/__tests__/Classification-test.js
  src/features/classification/__tests__/__snapshots__/Classification-test.js.snap
  src/styles/_variables.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements-extended, @box/webapp

feat(classification): new badge and layout (#1231)
  conf/styleguide.config.js
  src/features/classification/Classification.js
  src/features/classification/Classification.scss
  src/features/classification/ClassificationBadge.js
  src/features/classification/ClassificationProperty.js
  src/features/classification/README.md
  src/features/classification/__tests__/Classification-test.js
  src/features/classification/__tests__/__snapshots__/Classification-test.js.snap
  src/styles/_variables.scss
  src/styles/variables.js
  src/styles/variables.json
Owners: @box/ui-elements-extended, @box/webapp

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

feat(icon-shield): Address feedback
  src/icons/general/IconShield.js
  src/icons/general/__tests__/__snapshots__/IconShield-test.js.snap
Owners: @box/ui-elements-extended

feat(icons): add workflow two-toned icon
  src/icons/two-toned/IconWorkflow.js
  src/icons/two-toned/README.md
  src/icons/two-toned/_IconWorkflow.mixins.scss
  src/icons/two-toned/__tests__/IconWorkflow-test.js
  src/icons/two-toned/__tests__/__snapshots__/IconWorkflow-test.js.snap
Owners: @box/ui-elements-extended

feat(icons): add workflow icon (#1225)
  src/icons/two-toned/IconWorkflow.js
  src/icons/two-toned/README.md
  src/icons/two-toned/_IconWorkflow.mixins.scss
  src/icons/two-toned/__tests__/IconWorkflow-test.js
  src/icons/two-toned/__tests__/__snapshots__/IconWorkflow-test.js.snap
Owners: @box/ui-elements-extended

fix: use name instead of title
  src/components/contact-datalist-item/ContactDatalistItem.js
  src/components/datalist-item/DatalistItem.js
  src/features/unified-share-modal/ContactsField.js
  src/features/unified-share-modal/__tests__/ContactsField-test.js
  src/features/unified-share-modal/__tests__/__snapshots__/ContactsField-test.js.snap
Owners: @box/ui-elements-extended, @box/webapp

refactor(tasks-new): extract task assignee avatars
  src/elements/content-sidebar/activity-feed/task-new/AvatarGroup.js
  src/elements/content-sidebar/activity-feed/task-new/AvatarGroup.scss
  src/elements/content-sidebar/activity-feed/task-new/AvatarGroupAvatar.js
  src/elements/content-sidebar/activity-feed/task-new/Task.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/AvatarGroup-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/Task-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Task-test.js.snap
Owners: @box/ui-elements-extended, @box/ui-elements

fix: flow issue
  src/components/datalist-item/DatalistItem.js
Owners: @box/ui-elements-extended

fix: remove whitespace
  src/features/unified-share-modal/__tests__/ContactsField-test.js
Owners: @box/webapp

fix: change name flowtype to string
  src/components/contact-datalist-item/ContactDatalistItem.js
  src/components/datalist-item/DatalistItem.js
Owners: @box/ui-elements-extended

fix: name can be null type
  src/components/contact-datalist-item/ContactDatalistItem.js
  src/components/datalist-item/DatalistItem.js
Owners: @box/ui-elements-extended

fix(sidebar): More semantically accessible tabs
  i18n/en-US.properties
  src/elements/common/messages.js
  src/elements/content-sidebar/SidebarNav.js
  src/elements/content-sidebar/SidebarNavButton.js
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarNav-test.js.snap
Owners: @box/webapp, @box/ui-elements

chore: fix SidebarNav snapshot test
  src/elements/content-sidebar/__tests__/SidebarNav-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarNav-test.js.snap
Owners: @box/ui-elements

chore: remove unnecessary InjectIntlProvidedProps
  src/elements/content-sidebar/SidebarNav.js
Owners: @box/ui-elements

chore: use accessibility-hidden span instead of aria-label
  src/elements/content-sidebar/SidebarNav.js
  src/elements/content-sidebar/__tests__/SidebarNav-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarNav-test.js.snap
Owners: @box/ui-elements

chore: Back to aria-label approach
  src/elements/content-sidebar/SidebarNav.js
  src/elements/content-sidebar/__tests__/SidebarNav-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarNav-test.js.snap
Owners: @box/ui-elements

fix(sidebar): More semantically accessible tabs (#1236)
  i18n/en-US.properties
  src/elements/common/messages.js
  src/elements/content-sidebar/SidebarNav.js
  src/elements/content-sidebar/SidebarNavButton.js
  src/elements/content-sidebar/__tests__/SidebarNav-test.js
  src/elements/content-sidebar/__tests__/__snapshots__/SidebarNav-test.js.snap
Owners: @box/webapp, @box/ui-elements
