Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

CODEOWNERS:

# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/conf/                                      @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Element Experiences
/src/elements/content-sidebar/activity-feed/task-new/ @box/ui-elements-extended @box/ui-elements

fix(query-bar): fix messages flow issue
  src/features/query-bar/components/filter/Condition.js
Owners: @box/webapp

fix(query-bar): fix messages flow check
  src/features/query-bar/components/filter/Condition.js
Owners: @box/webapp

fix(sidebar): Set correct default render prop and avoid lodash import
  src/elements/content-sidebar/SidebarRoute.js
Owners: @box/ui-elements

fix(query-bar): move helpers to utils file
  src/common/__tests__/utils-test.js
  src/common/utils.js
  src/features/query-bar/__tests__/validator-test.js
  src/features/query-bar/components/filter/Condition.js
  src/features/query-bar/validator.js
Owners: @box/ui-elements-extended, @box/webapp

fix: resolve flow issue
  src/common/utils.js
Owners: @box/ui-elements-extended

fix(sidebar): Set correct default render prop and avoid lodash import (#1120)
  src/elements/content-sidebar/SidebarRoute.js
Owners: @box/ui-elements

fix(query-bar): remove utils file and using isFinite instead of isFloat
  src/common/__tests__/utils-test.js
  src/common/utils.js
  src/features/query-bar/components/filter/Condition.js
Owners: @box/ui-elements-extended, @box/webapp

feat(tasks): show full task assignee list in dropdown
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/task-new/AssigneeStatus.js
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
  src/elements/content-sidebar/activity-feed/task-new/Task.js
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/__tests__/Assignees-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Assignees-test.js.snap
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Task-test.js.snap
Owners: @box/ui-elements, @box/ui-elements-extended

fix(tasks): use button for accessible access to assignment dropdown
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Assignees-test.js.snap
Owners: @box/ui-elements-extended, @box/ui-elements

fix(tasks): fix flow types
  i18n/en-US.properties
  src/elements/content-sidebar/activity-feed/task-new/AssigneeStatus.js
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
Owners: @box/webapp, @box/ui-elements-extended, @box/ui-elements

refactor(tasks): a11y improvements
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Assignees-test.js.snap
Owners: @box/ui-elements-extended, @box/ui-elements

fix(tasks): darken grays
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
Owners: @box/ui-elements-extended, @box/ui-elements

feat(tasks): scroll large assignee lists
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Assignees-test.js.snap
Owners: @box/ui-elements-extended, @box/ui-elements

fix(query-bar): rename to hasUserSubmitted and isValueEmpty
  src/features/query-bar/__tests__/FilterButton-test.js
  src/features/query-bar/components/filter/Condition.js
  src/features/query-bar/components/filter/FilterButton.js
Owners: @box/webapp

feat(tasks): show full task assignee list in dropdown (#1116)
  i18n/en-US.properties
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/task-new/AssigneeStatus.js
  src/elements/content-sidebar/activity-feed/task-new/Assignees.js
  src/elements/content-sidebar/activity-feed/task-new/Task.js
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
  src/elements/content-sidebar/activity-feed/task-new/__tests__/Assignees-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Assignees-test.js.snap
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Task-test.js.snap
Owners: @box/webapp, @box/ui-elements, @box/ui-elements-extended

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/en-x-pseudo.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations (#1123)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/en-x-pseudo.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

feat(sidebar): Sidebar now remembers toggle state between sessions
  src/elements/content-sidebar/Sidebar.js
  src/elements/content-sidebar/__tests__/Sidebar-test.js
Owners: @box/ui-elements

fix(activityfeed): handle unknown users in activity feed
  src/api/Users.js
  src/api/__tests__/Users-test.js
  src/components/avatar/Avatar.js
  src/components/avatar/AvatarInitials.js
  src/elements/content-sidebar/activity-feed/Avatar.js
Owners: @box/ui-elements, @box/ui-elements-extended

fix(icons): lint the readme
  src/icons/two-toned/README.md
Owners: @box/ui-elements-extended

fix(icons): lint the readme (#1125)
  src/icons/two-toned/README.md
Owners: @box/ui-elements-extended

chore(content-preview): e2e tests for the versions header
  src/elements/content-preview/README.md
  test/integration/content-preview/ContentPreview.e2e.test.js
  test/support/constants.js
Owners: @box/ui-elements, @box/webapp, @box/ui-elements-extended

feat(textarea): add ability to hide optional label text
  src/components/text-area/README.md
  src/components/text-area/TextArea.js
  src/components/text-area/__tests__/TextArea-test.js
  src/components/text-area/__tests__/__snapshots__/TextArea-test.js.snap
  src/components/text-input/TextInput.js
Owners: @box/ui-elements-extended

fix(activityfeed): handle unknown users in activity feed (#1124)
  src/api/Users.js
  src/api/__tests__/Users-test.js
  src/components/avatar/Avatar.js
  src/components/avatar/AvatarInitials.js
  src/elements/content-sidebar/activity-feed/Avatar.js
Owners: @box/ui-elements, @box/ui-elements-extended

style(flmd): Change copy on FLMD modal per Box Design requirements
  i18n/en-US.properties
  src/features/metadata-instance-editor/CascadePolicy.js
  src/features/metadata-instance-editor/CascadePolicy.scss
  src/features/metadata-instance-editor/__tests__/__snapshots__/CascadePolicy-test.js.snap
  src/features/metadata-instance-editor/messages.js
Owners: @box/webapp, @box/ui-elements

fix(query-bar): User should see error invalid inputs number float field (#1108)
  examples/src/MetadataViewQueryBarExamples.js
  i18n/en-US.properties
  src/features/query-bar/__tests__/FilterButton-test.js
  src/features/query-bar/__tests__/validator-test.js
  src/features/query-bar/components/filter/Condition.js
  src/features/query-bar/components/filter/FilterButton.js
  src/features/query-bar/components/fixtures.js
  src/features/query-bar/messages.js
  src/features/query-bar/validator.js
Owners: @box/webapp

fix(query-bar): fix existence check
  src/features/list-view/ListView.js
Owners: @box/webapp

fix(icon-sort-chevron): make default height and width 12 px
  src/icons/general/IconSortChevron.js
Owners: @box/ui-elements-extended

fix(icon-sort-chevron): update snapshots
  src/icons/general/__tests__/__snapshots__/IconSortChevron-test.js.snap
Owners: @box/ui-elements-extended

feat(unified-share-modal): add fuzzy search to usm suggested collabs
  src/features/unified-share-modal/ContactsField.js
  src/features/unified-share-modal/__tests__/ContactsField-test.js
  src/features/unified-share-modal/__tests__/__snapshots__/ContactsField-test.js.snap
  src/features/unified-share-modal/constants.js
  src/utils/__tests__/fuzzySearch-test.js
  src/utils/fuzzySearch.js
Owners: @box/webapp, @box/ui-elements-extended

feat(select): add invalid/error state
  src/components/select-button/SelectButton.js
  src/components/select-button/SelectButton.scss
  src/components/select-button/__tests__/SelectButton-test.js
  src/components/select-button/__tests__/__snapshots__/SelectButton-test.js.snap
  src/components/select-field/BaseSelectField.js
  src/components/select-field/MultiSelectField.md
  src/components/select-field/SingleSelectField.md
  src/components/select-field/__tests__/BaseSelectField-test.js
  src/components/select-field/__tests__/__snapshots__/BaseSelectField-test.js.snap
Owners: @box/ui-elements-extended

feat(list-view): default to React.createRef
  src/features/list-view/ListView.js
Owners: @box/webapp

fix(list-view): set default type of gridEl
  src/features/list-view/ListView.js
Owners: @box/webapp

fix(list-view): reference handleCellHover in focus and mouseover
  src/features/list-view/ListView.js
Owners: @box/webapp

feat(select): add invalid/error state (#1131)
  src/components/select-button/SelectButton.js
  src/components/select-button/SelectButton.scss
  src/components/select-button/__tests__/SelectButton-test.js
  src/components/select-button/__tests__/__snapshots__/SelectButton-test.js.snap
  src/components/select-field/BaseSelectField.js
  src/components/select-field/MultiSelectField.md
  src/components/select-field/SingleSelectField.md
  src/components/select-field/__tests__/BaseSelectField-test.js
  src/components/select-field/__tests__/__snapshots__/BaseSelectField-test.js.snap
Owners: @box/ui-elements-extended

feat(list-view): add unit test for handleCellHover
  src/features/list-view/ListView.js
  src/features/list-view/__tests__/ListView-test.js
Owners: @box/webapp

feat(textarea): add ability to hide optional label text (#1126)
  src/components/text-area/README.md
  src/components/text-area/TextArea.js
  src/components/text-area/__tests__/TextArea-test.js
  src/components/text-area/__tests__/__snapshots__/TextArea-test.js.snap
  src/components/text-input/TextInput.js
Owners: @box/ui-elements-extended

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(i18n): update translations (#1128)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

fix(tasks): Remove spacing after task creator name in task card
  src/elements/content-sidebar/activity-feed/task-new/Task.scss
Owners: @box/ui-elements-extended, @box/ui-elements
