Repository box/box-ui-elements, changes with the owners that CODEOWNERS names for each.
All owners: @box/ui-elements-extended, @box/ui-elements, @box/webapp

chore(cypress): update token and documentation
  conf/styleguide.setup.js
  test/integration/content-explorer/ContentExplorer.e2e.test.js
  test/integration/content-sidebar/ContentSidebar.e2e.test.js
  test/integration/content-sidebar/TaskForm.e2e.test.js
  test/support/constants.js
Owners: @box/ui-elements-extended, @box/webapp

fix(query-bar): add column with number type
  examples/src/MetadataViewQueryBarExamples.js
  src/features/query-bar/components/fixtures.js
Owners: @box/webapp

fix(query-bar): add logic for checking if string is number or float
  src/features/query-bar/components/filter/Condition.js
  src/features/query-bar/messages.js
  src/features/query-bar/validator.js
Owners: @box/webapp

fix(query-bar): add tests for isInt and isFloat and fix linting issue
  src/features/query-bar/__tests__/validator-test.js
  src/features/query-bar/validator.js
Owners: @box/webapp

feat(tasks): Add in-modal error handling for task creation (#1101)
  i18n/en-US.properties
  src/api/Feed.js
  src/elements/common/messages.js
  src/elements/content-sidebar/ActivitySidebar.js
  src/elements/content-sidebar/AddTaskButton.js
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.js
  src/elements/content-sidebar/activity-feed/task-form/TaskForm.scss
  src/elements/content-sidebar/activity-feed/task-form/__tests__/TaskForm-test.js
  test/integration/content-sidebar/TaskForm.e2e.test.js
Owners: @box/webapp, @box/ui-elements

feat(avatar): cache calls to get authenticated avatar urls (#1105)
  src/api/Users.js
  src/api/__tests__/Users-test.js
Owners: @box/ui-elements

fix(query-bar): flip isFloat check
  src/features/query-bar/validator.js
Owners: @box/webapp

fix(query-bar): flip isFloat check back
  src/features/query-bar/validator.js
Owners: @box/webapp

Revert "chore(debugging): Add Elements version to window when components mount (#1050)"
  package.json
  src/elements/content-explorer/ContentExplorer.js
  src/elements/content-open-with/ContentOpenWith.js
  src/elements/content-picker/ContentPicker.js
  src/elements/content-preview/ContentPreview.js
  src/elements/content-sidebar/ContentSidebar.js
  src/utils/globals.js
Owners: @box/ui-elements-extended, @box/ui-elements

Revert "chore(debugging): Add Elements version to window when components mount"
  package.json
  src/elements/content-explorer/ContentExplorer.js
  src/elements/content-open-with/ContentOpenWith.js
  src/elements/content-picker/ContentPicker.js
  src/elements/content-preview/ContentPreview.js
  src/elements/content-sidebar/ContentSidebar.js
  src/utils/globals.js
Owners: @box/ui-elements-extended, @box/ui-elements

fix(query-bar): use isNan from lodash and flip isFloat check
  src/features/query-bar/validator.js
Owners: @box/webapp

feat(list-view): pass onCellHover handler to ListView
  src/features/list-view/ListView.js
Owners: @box/webapp

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

feat(tasks): Handle errors when performing actions on tasks
  i18n/en-US.properties
  src/api/Feed.js
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/task-new/Task.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/Task-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Task-test.js.snap
Owners: @box/webapp, @box/ui-elements, @box/ui-elements-extended

chore(i18n): update translations (#1107)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

fix(icons): update general and task approval icons
  src/icons/flowTypes.js
  src/icons/two-toned/IconTaskApproval.js
  src/icons/two-toned/IconTaskGeneral.js
  src/icons/two-toned/__tests__/__snapshots__/IconTaskApproval-test.js.snap
  src/icons/two-toned/__tests__/__snapshots__/IconTaskGeneral-test.js.snap
Owners: @box/ui-elements-extended

fix(query-bar): update messages
  src/features/query-bar/messages.js
Owners: @box/webapp

fix(query-bar): use isInteger from lodash and update test
  src/features/query-bar/__tests__/validator-test.js
  src/features/query-bar/validator.js
Owners: @box/webapp

fix(query-bar): rename to validateValue and clean up logic
  src/features/query-bar/components/filter/Condition.js
Owners: @box/webapp

docs(styleguide): expand props and methods by default
  conf/styleguide.config.js
Owners: @box/ui-elements-extended

fix(radio): styling when disabled
  src/components/radio/RadioButton.scss
  src/components/radio/RadioGroup.js
Owners: @box/ui-elements-extended

fix(tasks): update task message field name
  flow-typed/box-ui-elements.js
  src/api/Feed.js
  src/elements/content-sidebar/activity-feed/task-new/Task.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/Task-test.js
Owners: @box/ui-elements-extended, @box/ui-elements

fix(radio): styling when disabled (#1114)
  src/components/radio/RadioButton.scss
  src/components/radio/RadioGroup.js
Owners: @box/ui-elements-extended

fix(icons): add missing default class names
  src/icons/two-toned/IconTaskApproval.js
  src/icons/two-toned/IconTaskGeneral.js
  src/icons/two-toned/__tests__/__snapshots__/IconTaskApproval-test.js.snap
  src/icons/two-toned/__tests__/__snapshots__/IconTaskGeneral-test.js.snap
Owners: @box/ui-elements-extended

fix(collapsible): border radius and minor cleanup
  src/components/collapsible/Collapsible.scss
Owners: @box/ui-elements-extended

fix: add comments update examples
  src/components/collapsible/Collapsible.md
  src/components/collapsible/Collapsible.scss
Owners: @box/ui-elements-extended

fix(icons): update general and task approval icons (#1111)
  src/icons/flowTypes.js
  src/icons/two-toned/IconTaskApproval.js
  src/icons/two-toned/IconTaskGeneral.js
  src/icons/two-toned/__tests__/__snapshots__/IconTaskApproval-test.js.snap
  src/icons/two-toned/__tests__/__snapshots__/IconTaskGeneral-test.js.snap
Owners: @box/ui-elements-extended

feat(tasks): Handle errors when performing actions on tasks (#1110)
  i18n/en-US.properties
  src/api/Feed.js
  src/elements/common/messages.js
  src/elements/content-sidebar/activity-feed/task-new/Task.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/Task-test.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/__snapshots__/Task-test.js.snap
Owners: @box/webapp, @box/ui-elements, @box/ui-elements-extended

fix(query-bar): rename variables and inverted checks
  src/features/query-bar/components/filter/Condition.js
Owners: @box/webapp

fix(query-bar): hoist check higher in getErrorMessage
  src/features/query-bar/components/filter/Condition.js
Owners: @box/webapp

fix(query-bar): rename areErrorsEnabled to isErrorEnabled
  i18n/en-US.properties
  src/features/query-bar/__tests__/FilterButton-test.js
  src/features/query-bar/components/filter/Condition.js
  src/features/query-bar/components/filter/FilterButton.js
Owners: @box/webapp

chore(i18n): update translations
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

fix(collapsible): border radius and minor cleanup (#1113)
  src/components/collapsible/Collapsible.md
  src/components/collapsible/Collapsible.scss
Owners: @box/ui-elements-extended

chore(i18n): update translations (#1119)
  i18n/bn-IN.properties
  i18n/da-DK.properties
  i18n/de-DE.properties
  i18n/en-AU.properties
  i18n/en-CA.properties
  i18n/en-GB.properties
  i18n/es-419.properties
  i18n/es-ES.properties
  i18n/fi-FI.properties
  i18n/fr-CA.properties
  i18n/fr-FR.properties
  i18n/hi-IN.properties
  i18n/it-IT.properties
  i18n/ja-JP.properties
  i18n/ko-KR.properties
  i18n/nb-NO.properties
  i18n/nl-NL.properties
  i18n/pl-PL.properties
  i18n/pt-BR.properties
  i18n/ru-RU.properties
  i18n/sv-SE.properties
  i18n/tr-TR.properties
  i18n/zh-CN.properties
  i18n/zh-TW.properties
Owners: @box/webapp

chore(content-preview): e2e tests for the versions header
  src/elements/content-preview/README.md
  src/elements/content-preview/preview-header/PreviewHeader.js
  test/integration/content-preview/ContentPreview.e2e.test.js
  test/support/constants.js
Owners: @box/ui-elements, @box/webapp, @box/ui-elements-extended

fix(query-bar): update icon styling
  src/features/list-view/styles/ListView.scss
Owners: @box/webapp

fix: add comments for the two error cases
  src/features/query-bar/components/filter/Condition.js
Owners: @box/webapp

chore(tests): PR feedback
  src/elements/content-preview/preview-header/PreviewHeader.js
  test/integration/content-preview/ContentPreview.e2e.test.js
Owners: @box/ui-elements, @box/webapp

fix(query-bar): clean up switch logic
  src/features/query-bar/components/filter/Condition.js
Owners: @box/webapp

fix(tasks): update task message field name (#1115)
  flow-typed/box-ui-elements.js
  src/api/Feed.js
  src/elements/content-sidebar/activity-feed/task-new/Task.js
  src/elements/content-sidebar/activity-feed/task-new/__tests__/Task-test.js
Owners: @box/ui-elements-extended, @box/ui-elements

CODEOWNERS:

# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/conf/                                      @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Element Experiences
/src/elements/content-sidebar/activity-feed/task-new/ @box/ui-elements-extended @box/ui-elements
